<div class="product-container">
  <div class="label-product">{{sampleData?.display_name}}</div>
  <!-- <div class="anakan-label">{{ sampleData?.unit_location == null ? 'Tribik' : sampleData?.unit_location }}&#x25CF; {{tgl_mobilisasi | date:'dd MMMM yyyy'}}</div> -->




    <mat-accordion multi>

       <mat-expansion-panel [expanded]="true" id="Info Excel" >

        <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Data Excel</b>
            </mat-panel-title>
            <mat-panel-description>
              <!-- Informasi Vendor 1 -->
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Dynamic Unit Data (Stylish) -->
          <div class="dynamic-unit-data-card" *ngIf="sampleDataUnitMobilisasi">
            <div class="dynamic-grid">
              <div class="dynamic-item" *ngFor="let key of objectKeys(sampleDataUnitMobilisasi)">
                <div class="dynamic-key">
                  <!-- <mat-icon class="dynamic-icon">label</mat-icon> -->
                  {{ key }}
                </div>
                <div class="dynamic-value">{{ sampleDataUnitMobilisasi[key] }}</div>
              </div>
            </div>
          </div>

       </mat-expansion-panel>


        <mat-expansion-panel [expanded]="true" id="Info Vendor" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Info Vendor</b>
            </mat-panel-title>
            <mat-panel-description>
              <!-- Informasi Vendor 1 -->
            </mat-panel-description>
          </mat-expansion-panel-header>
            <div class="row">
                <div class="column">
                    <label for="vendorName">Nama Vendor</label>
                    <input id="vendorName" type="text" placeholder="Nama Vendor" value="{{sampleDataVendor?.vendor_name}}" style="border:0px;line-height: 10px;" readonly/>
                    
                    <label for="vendorAddress">Alamat</label>
                    <input id="vendorAddress" type="text" placeholder="Alamat" value="{{sampleDataVendor?.address}}, {{sampleDataVendor?.city}}, {{sampleDataVendor?.province}}" style="border:0px;line-height: 10px;" readonly/>
                    <!-- <textarea id="vendorAddress" placeholder="Alamat" rows="6" readonly  style="border:0px;line-height: 10px;" >
                      {{sampleDataVendor?.address}}, {{sampleDataVendor?.city}}, {{sampleDataVendor?.province}}
                    </textarea> -->
                    
                   
                </div>
                <div class="column">
                    <label for="pic">PIC Pengirim</label>
                    <input id="pic" type="text" placeholder="PIC Pengirim"  style="border:0px;line-height: 10px;" (keyup)="onChangeTextInput($event, 15)"  (blur)="onChangeTextInput($event, 15)"/>
                    
                    <!-- <label for="deliveryDate">Tanggal Pengiriman</label>
                    <input id="deliveryDate" type="text" readonly value=""  style="border:0px;line-height: 10px;" value="{{tgl_mobilisasi}}" /> -->

                    <label for="vendorPhone">No. Telepon</label>
                    <input id="vendorPhone" type="text" placeholder="No Telp"  (keyup)="onChangeTextInput($event, 16)"  (blur)="onChangeTextInput($event, 16)" style="border:0px;line-height: 10px;" />
                </div>
            </div>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="true" id="Verifikasi Data" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Verifikasi Data</b>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- Informasi Kendaraan -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              
                <div class="column">

                    <!-- <label for="branch-id">Pilih Cabang</label>
                    <button type="button" (click)="openBranch()" style="text-align:left;padding-left:10px;height:45px;width:90%;border:solid #cdcdcd 1px;border-radius:8px;margin-bottom:15px;">{{ selectedBranchName || 'Pilih Cabang' }}</button>
                    <app-the-branch-modal  
                    *ngIf="isBranchModalOpen"  
                    [branchs]="branches?.results || []" 
                    (close)="isBranchModalOpen = false" 
                    (selectBranch)="onBranchSelected($event)">
                    </app-the-branch-modal> -->

                    <label for="expedition" class="label-with-icon">Ekspedisi
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <select id="expedition" name="expedition"  (change)="onExpeditionChange($event)" >
                      <option *ngFor="let choice of choices" 
                              [value]="choice[0]" 
                              [attr.selected]="choice[0] === sampleData?.expedition ? '' : null">
                        {{ choice[1] }}
                      </option>
                    </select>

                    <label for="licensePlate" class="label-with-icon">
                    Nomor Polisi
                    <button mat-icon-button class="info-button" (click)="openCopasModal()">
                      <mat-icon>info</mat-icon>
                    </button>
                    </label>

                    <app-the-rawdata-modal  
                    *ngIf="isCopasModalOpen"  
                    [datamobilisasi]="sampleDataUnitMobilisasi || []" 
                    (close)="isCopasModalOpen = false" 
                    (selectCopas)="onCopasSelected($event)">
                    </app-the-rawdata-modal>
                    
                    <input id="licensePlate" type="text" placeholder="Nomor Polisi"   (keyup)="onChangeTextInput($event, 14)"  (blur)="onChangeTextInput($event, 14)" />
                    

                    <label for="unit_location" class="label-with-icon">Status Unit
                    <button mat-icon-button class="info-button" (click)="openCopasModal()">
                      <mat-icon>info</mat-icon>
                    </button>
                    </label>
                    <input type="text" id="unit_location" placeholder="Status Unit" readonly value="{{statusunit}}"  (keyup)="onChangeTextInput($event, 1)"  (blur)="onChangeTextInput($event, 1)" />

                    

<!-- <mat-form-field appearance="fill">
  <mat-label>Tahun</mat-label>
  <input
    matInput
    [matDatepicker]="picker"
    [value]="selectedYearDate"
    readonly
    (click)="picker.open()"
    style="font-weight: bold; letter-spacing: 5px; width: 120px;"
  />
  <mat-datepicker
    #picker
    startView="multi-year"
    (yearSelected)="chosenYearHandler($event, picker)"
    panelClass="year-picker"
  ></mat-datepicker>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
</mat-form-field> -->

<label for="tahun" class="label-with-icon" style="display:none;">Tahun
  <button mat-icon-button class="info-button" (click)="openCopasModal()">
    <mat-icon>info</mat-icon>
  </button>
</label>
<mat-form-field appearance="outline" class="year-select" style="display:none;">
  <mat-label> </mat-label>
  <mat-select [(value)]="selectedYear">
    <mat-option *ngFor="let y of years" [value]="y">
      {{ y }}
    </mat-option>
  </mat-select>
</mat-form-field>


<!-- <label for="tahun" class="label-with-icon">Tahun
                    <button mat-icon-button class="info-button" (click)="openCopasModal()">
                      <mat-icon>info</mat-icon>
                    </button>
                    </label>
                    <input type="text" id="tahun" placeholder="Tahun"  value="{{sampleData?.unit_year}}"  (keyup)="onChangeTextInput($event, 0)" 
                      [value]="selectedYear" maxlength="4" (input)="onChangeTextInput($event, 0)" style="font-weight: bold;letter-spacing: 5px;"/> -->

                    <!--                       
                    <input type="text" id="tahun" placeholder="Tahun"  value="{{sampleData?.unit_year}}"  (keyup)="onChangeTextInput($event, 0)" 
                      [value]="selectedYear" maxlength="4" (input)="onChangeTextInput($event, 0)" style="font-weight: bold;letter-spacing: 5px;"/> -->

                    <label for="noka" class="label-with-icon">Noka
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                      <mat-icon>info</mat-icon>
                    </button>
                    </label>
                    <input type="text" id="noka" placeholder="Noka"  value="{{sampleData?.chassis_number}}"  (input)="onAlphanumericInput($event, 'noka')"  (blur)="onChangeTextInput($event, 3)"/>

                    <label for="nosin" class="label-with-icon">Nosin
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                      <mat-icon>info</mat-icon>
                    </button>
                    </label>
                    <input type="text" id="nosin" placeholder="Nosin"   (input)="onAlphanumericInput($event, 'nosin')"  (blur)="onChangeTextInput($event, 4)"/>


                     <label>Transmisi 
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button></label>
                    <select id="transmission-id" name="transmission" placeholder="Pilih Transmisi" (change)="onTransmissionChange($event)" >
                      <option value=""></option>
                      <option *ngFor="let choice of transmissionOptions" 
                              [value]="choice[0]" 
                              [attr.transmission-id]="choice[0]"
                              [attr.selected]="choice[0] === sampleData?.transmission ? '' : null"
                              >
                        {{ choice[1] }}
                      </option>
                    </select>



                    <!-- <label for="tglpembuatan">Tax Notice</label>
                    <input type="date"  id="tglpembuatan" class="full-width" placeholder="Tanggal Pembuatan"  (change)="onChangeTextInput($event, 5)"/>


                    <label for="tax-checkedby-id">Tax Checked By
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <select id="tax-checkedby-id" [(ngModel)]="selectedTaxBy" name="fuel" placeholder="Dicek Oleh" (change)="onCheckedTaxBy($event)">
                      <option *ngFor="let option of checkedTaxByOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select> -->

                    

                    <!-- <label for="stnk-id">STNK
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <select id="stnk-id" [(ngModel)]="selectedStnk" name="STNK" placeholder="STNK" (change)="onCheckedStnk($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="tglkeur">Keur
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>

                     <select id="tglkeur" [(ngModel)]="selectedStnk" name="tglkeur" placeholder="KEUR" (change)="onCheckedKeur($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select> -->


                     <!-- <label for="bpkb_id" class="label-with-icon">BPKB Number
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                      <mat-icon>info</mat-icon>
                    </button>
                     </label>
                    <input type="text" id="bpkb_id" placeholder="BPKB Number"   (keyup)="onChangeTextInput($event, 9)"/> 
                    
                    <label for="bpkb_name" class="label-with-icon">BPKB Name
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                      <mat-icon>info</mat-icon>
                    </button>
                    </label>
                    <input type="text" id="bpkb_name" placeholder="BPKB Name"   (keyup)="onChangeTextInput($event, 10)"/>

                    <label for="bpkb-id" class="label-with-icon">BPKB
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                      <mat-icon>info</mat-icon>
                    </button>
                    </label>
                    <select id="bpkb-id" [(ngModel)]="selectedBpkb" name="BPKB" placeholder="Pilih BPKB" (change)="onBpkbChange($event)">
                      <option *ngFor="let option of bpkbOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="sph-id" class="label-with-icon">SPH
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <select id="sph-id" [(ngModel)]="selectedSph" name="sph" placeholder="SPH" (change)="onCheckedSph($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="kwt-id" class="label-with-icon">KWT
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <select id="kwt-id" [(ngModel)]="selectedKwt" name="kwt" placeholder="KWT" (change)="onCheckedKwt($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="forma-id" class="label-with-icon">Form A
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <select id="forma-id" [(ngModel)]="selectedForma" name="forma" placeholder="Form A" (change)="onCheckedForma($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="faktur-id" class="label-with-icon">Faktur
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <select id="faktur-id" [(ngModel)]="selectedFaktur" name="faktur" placeholder="Faktur" (change)="onCheckedFaktur($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select> -->

                    


                </div>

                <div class="column">
                    <label for="category" class="label-with-icon">Tipe Unit
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <select id="category" name="category" placeholder="Pilih Kategori" (change)="onVehicTypeChange($event)">
                      <option value=""></option>
                      <option *ngFor="let vehictype of vehicletype?.results"
                              [value]="vehictype.type_name"
                              [attr.data-id]="vehictype.id"
                              [attr.data-name]="vehictype.type_name"
                              [attr.selected]="vehictype.id === sampleData?.unit_category_id ? '' : null">
                        {{ vehictype.type_name }}
                      </option>
                    </select>

                    <label for="category">Kategori
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <button type="button" (click)="openUnitCategory()" style="text-align:left;padding-left:10px;height:45px;width:90%;border:solid #cdcdcd 1px;border-radius:8px;margin-bottom:15px;">{{ selectedUcatName || 'Pilih Kategori' }}</button>

                    <app-the-ucat-modal  
                    *ngIf="isUcatModalOpen"  
                    [brands]="unitcategory?.results || []" 
                    (close)="isUcatModalOpen = false" 
                    (selectBrand)="onUcatSelected($event)">
                    </app-the-ucat-modal>

                    <label for="brand">Merek
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <button type="button" (click)="openBrandModal()" style="text-align:left;padding-left:10px;height:45px;width:90%;border:solid #cdcdcd 1px;border-radius:8px;margin-bottom:15px;">{{ selectedBrandName || 'Pilih Merek' }}</button>

                    <app-the-brand-modal  
                    *ngIf="isBrandModalOpen"  
                    [brands]="brands?.results || []" 
                    (close)="isBrandModalOpen = false" 
                    (selectBrand)="onBrandSelected($event)">
                    </app-the-brand-modal>

                    <label for="tipe" style="display:none;">Tipe
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <input type="hidden" id="tipe" name="tipe" >
                    <button type="button" (click)="openTipeModal()" style="display:none;text-align:left;padding-left:10px;height:45px;width:90%;border:solid #cdcdcd 1px;border-radius:8px;margin-bottom:15px;">{{ selectedVariantName || 'Pilih Tipe' }}</button>

                  <app-the-tipe-modal  
                  *ngIf="isTipeModalOpen"  
                  [variants]="variants?.results || []" 
                  (close)="isTipeModalOpen = false" 
                  (selectVariant)="onVariantSelected($event)">
                  </app-the-tipe-modal>

                    
                    <label for="odometer">Kilometer (ODO)
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <input
                    type="text"
                    [value]="formatNumber(selectedOdo)"
                    (input)="onNumberInput($event, 'selectedOdo')"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    
                  />
                    
                    <label for="engineCapacity" style="display:none;">Kapasitas Mesin (CC)
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <input
                    type="text"
                    [value]="selectedCc"
                    (input)="onDecimalInput($event, 'selectedCc')"
                    inputmode="decimal"
                    placeholder="0.0"
                    style="display:none;"
                  />
                    <!-- <input type="number" id="engineCapacity" placeholder="Kapasitas Mesin" [value]="formatNumber(selectedOdo)"  (keyup)="onChangeTextInput($event, 2)" numberFormatter  (input)="onNumberInput($event, 'selectedOdo')"/> -->

                    <label for="warna">Warna
                       <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>

                    <select id="warna" name="warna" placeholder="Pilih Warna" (change)="onColorChange($event)">
                      <option value=""></option>
                      <option *ngFor="let color of colors?.results"
                              [value]="color.color_name"
                              [attr.color-id]="color.id"
                              [attr.selected]="color.color_name === sampleData?.color?.color_name ? '' : null">
                        {{ color.color_name }}
                      </option>
                    </select>


                    <label for="fuel-id">Bahan Bakar 
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button></label>
                    <select id="fuel-id" [(ngModel)]="selectedFuel" name="fuel" placeholder="Pilih Fuel" (change)="onFuelChange($event)">
                      <option *ngFor="let option of fuelOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                   

                    
                    <!-- <input type="date"  id="tglkeur" class="full-width" placeholder="KEUR"  (change)="onChangeTextInput($event, 11)"/> -->


                    <!-- <label for="hargaLimit">Harga Limit
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <input
                    type="text"
                    [value]="formatNumber(selectedLimitPrice)"
                    (input)="onNumberInput($event, 'selectedLimitPrice')"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    
                  /> -->
                    <!-- <input type="number" id="hargaLimit"  placeholder="Harga Limit" [value]="formatNumber(selectedLimitPrice)"  (keyup)="onChangeTextInput($event, 12)" numberFormatter  (input)="onNumberInput($event, 'selectedLimitPrice')"/> -->


                    <!-- <label for="hargaExam">Exam Price
                      <button mat-icon-button class="info-button" (click)="openCopasModal()">
                        <mat-icon>info</mat-icon>
                      </button>
                    </label>
                    <input
                    type="text"
                    [value]="formatNumber(selectedExamPrice)"
                    (input)="onNumberInput($event, 'selectedExamPrice')"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    
                  /> -->
                    <!-- <input type="number" id="hargaExam" placeholder="Harga Exam" [value]="formatNumber(selectedExamPrice)"  (keyup)="onChangeTextInput($event, 13)" numberFormatter  (input)="onNumberInput($event, 'selectedExamPrice')"/> -->

                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
        </mat-expansion-panel>
        

        <!-- <mat-expansion-panel [expanded]="true" id="Keterangan Lainnya" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Keterangan Lainnya</b>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><textarea cols="120" rows="10"></textarea></p>
        </mat-expansion-panel>
     -->
    
    
    </mat-accordion>


</div>


<!-- <app-image-gallery-modal
  [carName]="'Mitsubishi Pajero'"
  [images]="[
    'assets/bpkb1.jpg',
    'assets/bpkb2.jpg',
    'assets/bpkb3.jpg',
    'assets/bpkb4.jpg'
  ]">
</app-image-gallery-modal> -->