<div class="product-container">
  <div class="label-product">{{sampleData?.display_name}}</div>
  <!-- <div class="anakan-label">{{ sampleData?.unit_location == null ? 'Tribik' : sampleData?.unit_location }}&#x25CF; {{tgl_mobilisasi | date:'dd MMMM yyyy'}}</div> -->




    <mat-accordion multi>

       <mat-expansion-panel [expanded]="true" id="Info Excel" >

        <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Data Excel</b>
            </mat-panel-title>
            <mat-panel-description>
              <!-- Informasi Vendor 1 -->
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Dynamic Unit Data (Stylish) -->
          <div class="dynamic-unit-data-card" *ngIf="sampleDataUnitMobilisasi">
            <div class="dynamic-grid">
              <div class="dynamic-item" *ngFor="let key of objectKeys(sampleDataUnitMobilisasi)">
                <div class="dynamic-key">
                  <!-- <mat-icon class="dynamic-icon">label</mat-icon> -->
                  {{ key }}
                </div>
                <div class="dynamic-value">{{ sampleDataUnitMobilisasi[key] }}</div>
              </div>
            </div>
          </div>

       </mat-expansion-panel>


        <mat-expansion-panel [expanded]="true" id="Info Vendor" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Info Vendor</b>
            </mat-panel-title>
            <mat-panel-description>
              <!-- Informasi Vendor 1 -->
            </mat-panel-description>
          </mat-expansion-panel-header>
            <div class="row">
                <div class="column">
                    <label for="vendorName">Nama Vendor</label>
                    <input id="vendorName" type="text" placeholder="Nama Vendor" value="{{sampleDataVendor?.vendor_name}}" style="border:0px;line-height: 10px;" readonly/>
                    
                    <label for="vendorAddress">Alamat</label>
                    <input id="vendorAddress" type="text" placeholder="Alamat" value="{{sampleDataVendor?.address}}, {{sampleDataVendor?.city}}, {{sampleDataVendor?.province}}" style="border:0px;line-height: 10px;" readonly/>
                    <!-- <textarea id="vendorAddress" placeholder="Alamat" rows="6" readonly  style="border:0px;line-height: 10px;" >
                      {{sampleDataVendor?.address}}, {{sampleDataVendor?.city}}, {{sampleDataVendor?.province}}
                    </textarea> -->
                    
                   
                </div>
                <div class="column">
                    <label for="pic">PIC Pengirim</label>
                    <input id="pic" type="text" placeholder="PIC Pengirim"  style="border:0px;line-height: 10px;" (keyup)="onChangeTextInput($event, 15)"/>
                    
                    <!-- <label for="deliveryDate">Tanggal Pengiriman</label>
                    <input id="deliveryDate" type="text" readonly value=""  style="border:0px;line-height: 10px;" value="{{tgl_mobilisasi}}" /> -->

                    <label for="vendorPhone">No. Telepon</label>
                    <input id="vendorPhone" type="text" placeholder="No Telp"  (keyup)="onChangeTextInput($event, 16)" style="border:0px;line-height: 10px;" />
                </div>
            </div>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="true" id="Verifikasi Data" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Verifikasi Data</b>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- Informasi Kendaraan -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              
                <div class="column">

                    <label for="color">Pilih Cabang</label>
                    <button type="button" (click)="openBranch()" style="text-align:left;padding-left:10px;height:45px;width:90%;border:solid #cdcdcd 1px;border-radius:8px;margin-bottom:15px;">{{ selectedBranchName || 'Pilih Cabang' }}</button>
                    <app-the-branch-modal  
                    *ngIf="isBranchModalOpen"  
                    [branchs]="branches?.results || []" 
                    (close)="isBranchModalOpen = false" 
                    (selectBranch)="onBranchSelected($event)">
                    </app-the-branch-modal>

                    <label for="expedition">Ekspedisi</label>
                    <select id="expedition" name="expedition"  (change)="onExpeditionChange($event)" >
                      <option *ngFor="let choice of choices" 
                              [value]="choice[0]" 
                              [attr.selected]="choice[0] === sampleData?.expedition ? '' : null">
                        {{ choice[1] }}
                      </option>
                    </select>

                    <label for="licensePlate">Nomor Polisi</label>
                    <input id="licensePlate" type="text" placeholder="Nomor Polisi"   (keyup)="onChangeTextInput($event, 14)" />
                    

                    <label for="unit_location">Lokasi Unit</label>
                    <input type="text" id="unit_location" placeholder="Lokasi Unit"  (keyup)="onChangeTextInput($event, 1)" />

                    

                    <label for="color">Tahun</label>
                    <input type="text" id="tahun" placeholder="Tahun"  value="{{sampleData?.unit_year}}"  (keyup)="onChangeTextInput($event, 0)" 
                      [value]="selectedYear" maxlength="4" (input)="onChangeTextInput($event, 0)" style="font-weight: bold;letter-spacing: 5px;"/>

                    <label for="color">Noka</label>
                    <input type="text" id="noka" placeholder="Noka"  value="{{sampleData?.chassis_number}}"  (keyup)="onChangeTextInput($event, 3)"/>

                    <label for="color">Nosin</label>
                    <input type="text" id="nosin" placeholder="Nosin"   (keyup)="onChangeTextInput($event, 4)"/>


                     <label for="color">BPKB Number</label>
                    <input type="text" id="bpkb_id" placeholder="BPKB Number"   (keyup)="onChangeTextInput($event, 9)"/>

                    <label for="color">BPKB Name</label>
                    <input type="text" id="bpkb_name" placeholder="BPKB Name"   (keyup)="onChangeTextInput($event, 10)"/>

                    <label for="bpkb">BPKB</label>
                    <select id="bpkb-id" [(ngModel)]="selectedBpkb" name="BPKB" placeholder="Pilih BPKB" (change)="onBpkbChange($event)">
                      <option *ngFor="let option of bpkbOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="color">SPH</label>
                    <select id="sph-id" [(ngModel)]="selectedSph" name="sph" placeholder="SPH" (change)="onCheckedSph($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="color">KWT</label>
                    <select id="kwt-id" [(ngModel)]="selectedKwt" name="kwt" placeholder="KWT" (change)="onCheckedKwt($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="color">Form A</label>
                    <select id="forma-id" [(ngModel)]="selectedForma" name="forma" placeholder="Form A" (change)="onCheckedForma($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="color">Faktur</label>
                    <select id="faktur-id" [(ngModel)]="selectedFaktur" name="faktur" placeholder="Faktur" (change)="onCheckedFaktur($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    


                </div>

                <div class="column">
                    <label for="category">Tipe Unit</label>
                    <select id="category" name="category" placeholder="Pilih Kategori" (change)="onVehicTypeChange($event)">
                      <option *ngFor="let vehictype of vehicletype?.results"
                              [value]="vehictype.type_name"
                              [attr.data-id]="vehictype.id"
                              [attr.data-name]="vehictype.type_name"
                              [attr.selected]="vehictype.id === sampleData?.unit_category_id ? '' : null">
                        {{ vehictype.type_name }}
                      </option>
                    </select>

                    <label for="category">Kategori</label>
                    <button type="button" (click)="openUnitCategory()" style="text-align:left;padding-left:10px;height:45px;width:90%;border:solid #cdcdcd 1px;border-radius:8px;margin-bottom:15px;">{{ selectedUcatName || 'Pilih Kategori' }}</button>

                    <app-the-ucat-modal  
                    *ngIf="isUcatModalOpen"  
                    [brands]="unitcategory?.results || []" 
                    (close)="isUcatModalOpen = false" 
                    (selectBrand)="onUcatSelected($event)">
                    </app-the-ucat-modal>

                    <label for="brand">Merek</label>
                    <button type="button" (click)="openBrandModal()" style="text-align:left;padding-left:10px;height:45px;width:90%;border:solid #cdcdcd 1px;border-radius:8px;margin-bottom:15px;">{{ selectedBrandName || 'Pilih Merek' }}</button>

                    <app-the-brand-modal  
                    *ngIf="isBrandModalOpen"  
                    [brands]="brands?.results || []" 
                    (close)="isBrandModalOpen = false" 
                    (selectBrand)="onBrandSelected($event)">
                    </app-the-brand-modal>

                    <label for="tipe">Tipe</label>
                    <input type="hidden" id="tipe" name="tipe" >
                    <button type="button" (click)="openTipeModal()" style="text-align:left;padding-left:10px;height:45px;width:90%;border:solid #cdcdcd 1px;border-radius:8px;margin-bottom:15px;">{{ selectedVariantName || 'Pilih Tipe' }}</button>

                  <app-the-tipe-modal  
                  *ngIf="isTipeModalOpen"  
                  [variants]="variants?.results || []" 
                  (close)="isTipeModalOpen = false" 
                  (selectVariant)="onVariantSelected($event)">
                  </app-the-tipe-modal>

                    
                    <label for="odometer">ODO</label>
                    <input
                    type="text"
                    [value]="formatNumber(selectedOdo)"
                    (input)="onNumberInput($event, 'selectedOdo')"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    
                  />
                    
                    <label for="engineCapacity">Kapasitas Mesin (CC)</label>
                    <input
                    type="text"
                    [value]="formatNumber(selectedCc)"
                    (input)="onNumberInput($event, 'selectedCc')"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    
                  />
                    <!-- <input type="number" id="engineCapacity" placeholder="Kapasitas Mesin" [value]="formatNumber(selectedOdo)"  (keyup)="onChangeTextInput($event, 2)" numberFormatter  (input)="onNumberInput($event, 'selectedOdo')"/> -->

                    <label for="color">Warna</label>

                    <select id="warna" name="warna" placeholder="Pilih Warna" (change)="onColorChange($event)">
                      <option *ngFor="let color of colors?.results"
                              [value]="color.color_name"
                              [attr.color-id]="color.id"
                              [attr.selected]="color.color_name === sampleData?.color?.color_name ? '' : null">
                        {{ color.color_name }}
                      </option>
                    </select>

                    <label>Transmisi</label>
                    <select id="transmission-id" name="transmission" placeholder="Pilih Transmisi" (change)="onTransmissionChange($event)">
                      <option *ngFor="let choice of transmissionOptions" 
                              [value]="choice[0]" 
                              [attr.transmission-id]="choice[0]"
                              [attr.selected]="choice[0] === sampleData?.transmission ? '' : null"
                              >
                        {{ choice[1] }}
                      </option>
                    </select>

                    <label for="color">Fuel</label>
                    <select id="fuel-id" [(ngModel)]="selectedFuel" name="fuel" placeholder="Pilih Fuel" (change)="onFuelChange($event)">
                      <option *ngFor="let option of fuelOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="tglpembuatan">Tax Notice</label>
                    <input type="date"  id="tglpembuatan" class="full-width" placeholder="Tanggal Pembuatan"  (change)="onChangeTextInput($event, 5)"/>


                    <label for="color">Checked By</label>
                    <select id="tax-checkedby-id" [(ngModel)]="selectedTaxBy" name="fuel" placeholder="Dicek Oleh" (change)="onCheckedTaxBy($event)">
                      <option *ngFor="let option of checkedTaxByOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    

                    <label for="color">STNK</label>
                    <select id="stnk-id" [(ngModel)]="selectedStnk" name="STNK" placeholder="STNK" (change)="onCheckedStnk($event)">
                      <option *ngFor="let option of adaTidakOptions" [value]="option">
                        {{ option }}
                      </option>
                    </select>

                    <label for="tglkeur">Keur</label>
                    <input type="date"  id="tglkeur" class="full-width" placeholder="KEUR"  (change)="onChangeTextInput($event, 11)"/>


                    <label for="hargaLimit">Harga Limit</label>
                    <input
                    type="text"
                    [value]="formatNumber(selectedLimitPrice)"
                    (input)="onNumberInput($event, 'selectedLimitPrice')"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    
                  />
                    <!-- <input type="number" id="hargaLimit"  placeholder="Harga Limit" [value]="formatNumber(selectedLimitPrice)"  (keyup)="onChangeTextInput($event, 12)" numberFormatter  (input)="onNumberInput($event, 'selectedLimitPrice')"/> -->


                    <label for="hargaExam">Exam Price</label>
                    <input
                    type="text"
                    [value]="formatNumber(selectedExamPrice)"
                    (input)="onNumberInput($event, 'selectedExamPrice')"
                    inputmode="numeric"
                    pattern="[0-9]*"
                    
                  />
                    <!-- <input type="number" id="hargaExam" placeholder="Harga Exam" [value]="formatNumber(selectedExamPrice)"  (keyup)="onChangeTextInput($event, 13)" numberFormatter  (input)="onNumberInput($event, 'selectedExamPrice')"/> -->

                </div>
            </div>
        </mat-expansion-panel>
        

        <!-- <mat-expansion-panel [expanded]="true" id="Keterangan Lainnya" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Keterangan Lainnya</b>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><textarea cols="120" rows="10"></textarea></p>
        </mat-expansion-panel>
     -->
    
    
    </mat-accordion>


</div>


<!-- <app-image-gallery-modal
  [carName]="'Mitsubishi Pajero'"
  [images]="[
    'assets/bpkb1.jpg',
    'assets/bpkb2.jpg',
    'assets/bpkb3.jpg',
    'assets/bpkb4.jpg'
  ]">
</app-image-gallery-modal> -->