@media (min-width: 600px) {
  .header {  
      display: flex;  
      flex-direction: column;  
      width: 100%;  
      background-color: #fff; // Warna latar belakang header  
      // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk header  
      
      .label-page{
        font-family: 'Nunito Sans';
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0px;
        color: #312E2E;

        }

      // Bagian atas header  
      .header-top {  
        display: flex;  
        justify-content: space-between;  
        align-items: center;  
        padding: 10px 20px;  
      
        .logo {  
          // Gaya untuk logo  
          img {  
            height: 40px; // Atur tinggi logo sesuai kebutuhan  
          }  
        }  
      
        .profile-dropdown {  
          // Gaya untuk dropdown profil  
          display: flex;  
          align-items: center;  
      
          .profile-name {  
            margin-right: 10px;  
            font-weight: bold;  
          }  
      
          .dropdown {  
            // Gaya untuk dropdown  
            cursor: pointer;  
          }  
        }  
      }  
      
      // Bagian bawah header  
      .header-bottom {    
          display: flex;      
          flex-direction: column; // Mengatur arah flex menjadi kolom    
          padding: 10px 20px;       
          
          .task-summary {    
            width: 100%; // Lebar 100%    
            font-size: 18px; // Ukuran font    
            font-weight: bold; // Menebalkan teks    
            color: #333; // Warna teks    
            margin-bottom: 5px; // Jarak antara task summary dan chip-container    
            text-align: left;  
            font-weight: 700;
          }    
          
          // Membuat container baru untuk chip dan filter  
          .row-container {  
            display: flex; // Mengatur chip-container dan filter-container dalam satu baris  
            justify-content: space-between; // Mengatur jarak antara chip-container dan filter-container  
            width: 100%; // Lebar 100%  
          }  
          
          .chip-container {    
            width: 65%; // Lebar chip-container  
            display: flex;    
            gap: 10px; // Jarak antar chip    
            overflow-x: auto; // Mengizinkan scroll horizontal    
            padding: 10px 0; // Padding atas dan bawah    
            white-space: nowrap; // Mencegah chip membungkus ke baris berikutnya    
            position: relative; // Untuk posisi elemen kustom    
            font-weight: 800;  
          
            // Sembunyikan scrollbar default    
            &::-webkit-scrollbar {    
              display: none; // Menyembunyikan scrollbar    
            }    
          
            // Gaya untuk garis kustom    
            .custom-slider {    
              height: 2px; // Tinggi garis    
              max-width: 50px; // Lebar maksimum garis    
              background-color: #D5230D; // Warna garis    
              position: absolute; // Posisi absolut    
              bottom: 0; // Tempatkan di bawah chip    
              left: 0; // Mulai dari kiri    
              transition: transform 0.3s ease; // Transisi saat aktif    
            }    
          
            .chip {    
              padding: 8px 12px;    
              border-radius: 48px;    
              border: 1px solid #F5F5F5; // Border chip    
              background-color: #F5F5F5; // Warna latar belakang chip tidak aktif    
              color: black; // Warna huruf chip tidak aktif    
              cursor: pointer;    
          
              &.active {    
                background-color: #D5230D; // Warna latar belakang chip aktif    
                color: white; // Warna huruf chip aktif    
              }    
            }    
          }    
          
          .filter-container {    
            width: 35%; // Lebar maksimum 35%    
            display: flex;    
            justify-content: flex-end; // Mengatur konten ke kanan    
            align-items: center;    
            position: relative; // Agar dropdown dapat diposisikan dengan benar    
            gap: 10px;  
          
            .filter-button {    
              display: flex; // Mengatur ikon dan teks dalam satu baris    
              align-items: center; // Menyelaraskan ikon dan teks    
              padding: 8px 16px; // Padding untuk tombol    
              background-color: #ffffff; // Warna latar belakang button    
              color: #312E2E; // Warna huruf button    
              border: solid 1px #D4D2D2; // Menghilangkan border default    
              border-radius: 48px; // Border-radius untuk tombol    
              cursor: pointer; // Menunjukkan bahwa ini adalah elemen yang dapat diklik    
          
              img {    
                margin-right: 5px; // Jarak antara ikon dan teks    
              }    
          
              &:hover {    
                background-color: #F5F5F5; // Warna latar belakang saat hover    
                font-weight: bold;  
              }    
          
              &.active {    
                border-color: #C2200C; // Warna border saat aktif    
              }    
            }    
          
            .dropdown-menu-filter {    
              position: absolute; // Mengatur posisi dropdown    
              background-color: white; // Warna latar belakang dropdown    
              border: 1px solid #ddd; // Border untuk dropdown    
              border-radius: 16px; // Border-radius untuk dropdown    
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman    
              z-index: 1000; // Memastikan dropdown berada di atas elemen lain    
              margin-top: 10px; // Jarak antara dropdown dan tombol    
              top: 45px;  
              right: 130px;  
              width: 300px;  
          
              .dropdown-item-filter {    
                display: flex; // Mengatur ikon dan teks dalam satu baris    
                align-items: center; // Menyelaraskan ikon dan teks    
                padding: 10px; // Padding untuk item dropdown    
                cursor: pointer; // Menunjukkan bahwa item dapat diklik    
          
                img {    
                  width: 20px; // Ukuran tetap untuk ikon    
                  height: 20px; // Ukuran tetap untuk ikon    
                  margin-right: 10px; // Jarak antara ikon dan teks    
                }    
          
                &:hover {    
                  background-color: #F5F5F5; // Warna latar belakang saat hover    
                  color: #C2200C; // Warna teks saat hover   
                  font-weight: bold;   
                }    
              }    
            }    
          
            .dropdown-sort-filter {    
              position: absolute; // Mengatur posisi dropdown    
              background-color: white; // Warna latar belakang dropdown    
              border: 1px solid #ddd; // Border untuk dropdown    
              border-radius: 16px; // Border-radius untuk dropdown    
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman    
              z-index: 1000; // Memastikan dropdown berada di atas elemen lain    
              margin-top: 10px; // Jarak antara dropdown dan tombol    
              top: 45px;  
              right: 10px;  
              width: 200px;  
          
              .dropdown-item-sort-filter {    
                display: flex; // Mengatur ikon dan teks dalam satu baris    
                align-items: center; // Menyelaraskan ikon dan teks    
                padding: 10px; // Padding untuk item dropdown    
                cursor: pointer; // Menunjukkan bahwa item dapat diklik    
          
                img {    
                  width: 20px; // Ukuran tetap untuk ikon    
                  height: 20px; // Ukuran tetap untuk ikon    
                  margin-right: 10px; // Jarak antara ikon dan teks    
                }    
          
                &:hover {    
                  background-color: #F5F5F5; // Warna latar belakang saat hover    
                  color: #C2200C; // Warna teks saat hover   
                  font-weight: bold;   
                }    
              }    
            }  
          }  
        }   
        
      
      






      .header-user {  
          display: flex; // Mengatur elemen dalam satu baris  
          align-items: center; // Menyelaraskan secara vertikal  
          padding: 10px; // Padding di dalam header  
          background-color: #f9f9f9; // Warna latar belakang header  
          border: 1px solid #ddd; // Border untuk header  
          border-radius: 40px; // Border-radius untuk header  
          cursor: pointer; // Menunjukkan bahwa ini adalah elemen yang dapat diklik  
          
          .profile-image {  
            width: 40px; // Ukuran gambar profil  
            height: 40px; // Ukuran gambar profil  
            margin-right: 10px; // Jarak antara gambar profil dan info pengguna  
          
            img {  
              width: 100%; // Mengatur gambar agar memenuhi div  
              height: 100%; // Mengatur gambar agar memenuhi div  
              border-radius: 50%; // Membuat gambar profil menjadi bulat  
            }  
          }  
          
          .user-info {  
            flex: 1; // Mengisi sisa ruang  
            display: flex;  
            flex-direction: column; // Mengatur info pengguna dalam kolom  
            width: 190px;
          
            .user-name {  
              font-weight: bold; // Menebalkan nama pengguna  
              color: #333; // Warna teks  
              text-align: left;
              text-transform: uppercase; // Mengubah huruf pertama menjadi kapital
            }  
          
            .user-details {  
              font-size: 14px; // Ukuran font untuk detail  
              color: #666; // Warna teks untuk detail  
              text-align: left;
            }  
          }  
          
          .dropdown-icon {  
              width: 20px; // Ukuran ikon dropdown  
              height: 20px;  
              
              img {  
                width: 100%; // Mengatur ikon agar memenuhi div  
                height: 100%; // Mengatur ikon agar memenuhi div  
                transition: transform 0.3s ease; // Animasi transisi saat memutar  
              
                &.rotate {  
                  transform: rotate(180deg); // Memutar gambar 180 derajat  
                }  
              }  
            }   
        }  

        
        
  }  
    

  .dropdown-menu {  
      position: absolute; // Mengatur posisi dropdown  
      background-color: white; // Warna latar belakang dropdown  
      border-left: 1px solid #ddd; // Border untuk dropdown  
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-top:0px;
      border-radius: 1px; // Border-radius untuk dropdown  
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman  
      z-index: 1000; // Memastikan dropdown berada di atas elemen lain  
      margin-top: 10px; // Jarak antara dropdown dan elemen di atasnya  
      right:50px;
      top:80px;
      width: 160px;
      
      ul {  
        list-style: none; // Menghilangkan bullet points  
        padding: 0; // Menghilangkan padding  
        margin: 0; // Menghilangkan margin  
      
        li {  
          padding: 10px; // Padding untuk item dropdown  
          cursor: pointer; // Menunjukkan bahwa item dapat diklik  
      
          &:hover {  
            background-color: #f0f0f0; // Warna latar belakang saat hover  
          }  
        }  
      }  
  }  

}



@media (max-width: 540px) {
  .header {  
      display: flex;  
      flex-direction: column;  
      width: 100%;  
      background-color: #fff; // Warna latar belakang header  
      // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk header  
      
      .label-page{
        font-family: 'NunitoSans';
        font-weight: 600;
        font-size: 11px;
        padding-top:20px;
        line-height: 10px;
        color: #312E2E;

        }

      // Bagian atas header  
      .header-top {  
        display: flex;  
        justify-content: space-between;  
        align-items: start;  
        padding: 5px 0px;  
      
        .logo {  
          // Gaya untuk logo  
          img {  
            height: 35px; // Atur tinggi logo sesuai kebutuhan  
          }  
        }  
      
        .profile-dropdown {  
          // Gaya untuk dropdown profil  
          display: flex;  
          align-items: end;  
          border: solid blue 0px;
      
          .profile-name {  
            margin-right: 5px;  
            font-weight: bold;  
          }  
      
          .dropdown {  
            // Gaya untuk dropdown  
            cursor: pointer;  
          }  
        }  
      }  
      
      // Bagian bawah header  
      .header-bottom {    
          display: flex;      
          flex-direction: column; // Mengatur arah flex menjadi kolom    
          padding: 10px 20px;       
          
          .task-summary {    
            width: 100%; // Lebar 100%    
            font-size: 18px; // Ukuran font    
            font-weight: bold; // Menebalkan teks    
            color: #333; // Warna teks    
            margin-bottom: 5px; // Jarak antara task summary dan chip-container    
            text-align: left;  
            font-weight: 700;
          }    
          
          // Membuat container baru untuk chip dan filter  
          .row-container {  
            display: flex; // Mengatur chip-container dan filter-container dalam satu baris  
            justify-content: space-between; // Mengatur jarak antara chip-container dan filter-container  
            width: 100%; // Lebar 100%  
          }  
          
          .chip-container {    
            width: 65%; // Lebar chip-container  
            display: flex;    
            gap: 10px; // Jarak antar chip    
            overflow-x: auto; // Mengizinkan scroll horizontal    
            padding: 10px 0; // Padding atas dan bawah    
            white-space: nowrap; // Mencegah chip membungkus ke baris berikutnya    
            position: relative; // Untuk posisi elemen kustom    
            font-weight: 800;  
          
            // Sembunyikan scrollbar default    
            &::-webkit-scrollbar {    
              display: none; // Menyembunyikan scrollbar    
            }    
          
            // Gaya untuk garis kustom    
            .custom-slider {    
              height: 2px; // Tinggi garis    
              max-width: 50px; // Lebar maksimum garis    
              background-color: #D5230D; // Warna garis    
              position: absolute; // Posisi absolut    
              bottom: 0; // Tempatkan di bawah chip    
              left: 0; // Mulai dari kiri    
              transition: transform 0.3s ease; // Transisi saat aktif    
            }    
          
            .chip {    
              padding: 8px 12px;    
              border-radius: 48px;    
              border: 1px solid #F5F5F5; // Border chip    
              background-color: #F5F5F5; // Warna latar belakang chip tidak aktif    
              color: black; // Warna huruf chip tidak aktif    
              cursor: pointer;    
          
              &.active {    
                background-color: #D5230D; // Warna latar belakang chip aktif    
                color: white; // Warna huruf chip aktif    
              }    
            }    
          }    
          
          .filter-container {    
            width: 35%; // Lebar maksimum 35%    
            display: flex;    
            justify-content: flex-end; // Mengatur konten ke kanan    
            align-items: center;    
            position: relative; // Agar dropdown dapat diposisikan dengan benar    
            gap: 10px;  
          
            .filter-button {    
              display: flex; // Mengatur ikon dan teks dalam satu baris    
              align-items: center; // Menyelaraskan ikon dan teks    
              padding: 8px 16px; // Padding untuk tombol    
              background-color: #ffffff; // Warna latar belakang button    
              color: #312E2E; // Warna huruf button    
              border: solid 1px #D4D2D2; // Menghilangkan border default    
              border-radius: 48px; // Border-radius untuk tombol    
              cursor: pointer; // Menunjukkan bahwa ini adalah elemen yang dapat diklik    
          
              img {    
                margin-right: 5px; // Jarak antara ikon dan teks    
              }    
          
              &:hover {    
                background-color: #F5F5F5; // Warna latar belakang saat hover    
                font-weight: bold;  
              }    
          
              &.active {    
                border-color: #C2200C; // Warna border saat aktif    
              }    
            }    
          
            .dropdown-menu-filter {    
              position: absolute; // Mengatur posisi dropdown    
              background-color: white; // Warna latar belakang dropdown    
              border: 1px solid #ddd; // Border untuk dropdown    
              border-radius: 16px; // Border-radius untuk dropdown    
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman    
              z-index: 1000; // Memastikan dropdown berada di atas elemen lain    
              margin-top: 10px; // Jarak antara dropdown dan tombol    
              top: 45px;  
              right: 130px;  
              width: 300px;  
          
              .dropdown-item-filter {    
                display: flex; // Mengatur ikon dan teks dalam satu baris    
                align-items: center; // Menyelaraskan ikon dan teks    
                padding: 10px; // Padding untuk item dropdown    
                cursor: pointer; // Menunjukkan bahwa item dapat diklik    
          
                img {    
                  width: 20px; // Ukuran tetap untuk ikon    
                  height: 20px; // Ukuran tetap untuk ikon    
                  margin-right: 10px; // Jarak antara ikon dan teks    
                }    
          
                &:hover {    
                  background-color: #F5F5F5; // Warna latar belakang saat hover    
                  color: #C2200C; // Warna teks saat hover   
                  font-weight: bold;   
                }    
              }    
            }    
          
            .dropdown-sort-filter {    
              position: absolute; // Mengatur posisi dropdown    
              background-color: white; // Warna latar belakang dropdown    
              border: 1px solid #ddd; // Border untuk dropdown    
              border-radius: 16px; // Border-radius untuk dropdown    
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman    
              z-index: 1000; // Memastikan dropdown berada di atas elemen lain    
              margin-top: 10px; // Jarak antara dropdown dan tombol    
              top: 45px;  
              right: 10px;  
              width: 200px;  
          
              .dropdown-item-sort-filter {    
                display: flex; // Mengatur ikon dan teks dalam satu baris    
                align-items: center; // Menyelaraskan ikon dan teks    
                padding: 10px; // Padding untuk item dropdown    
                cursor: pointer; // Menunjukkan bahwa item dapat diklik    
          
                img {    
                  width: 20px; // Ukuran tetap untuk ikon    
                  height: 20px; // Ukuran tetap untuk ikon    
                  margin-right: 10px; // Jarak antara ikon dan teks    
                }    
          
                &:hover {    
                  background-color: #F5F5F5; // Warna latar belakang saat hover    
                  color: #C2200C; // Warna teks saat hover   
                  font-weight: bold;   
                }    
              }    
            }  
          }  
        }   
        
      
      






      .header-user {  
          display: flex; // Mengatur elemen dalam satu baris  
          align-items: center; // Menyelaraskan secara vertikal  
          padding: 5px; // Padding di dalam header  
          background-color: #f9f9f9; // Warna latar belakang header  
          border: 1px solid #ddd; // Border untuk header  
          border-radius: 16px; // Border-radius untuk header  
          cursor: pointer; // Menunjukkan bahwa ini adalah elemen yang dapat diklik  
          
          .profile-image {  
            width: 20px; // Ukuran gambar profil  
            height: 20px; // Ukuran gambar profil  
            margin-right: 5px; // Jarak antara gambar profil dan info pengguna  
          
            img {  
              width: 100%; // Mengatur gambar agar memenuhi div  
              height: 100%; // Mengatur gambar agar memenuhi div  
              border-radius: 50%; // Membuat gambar profil menjadi bulat  
            }  
          }  
          
          .user-info {  
            flex: 1; // Mengisi sisa ruang  
            display: flex;  
            flex-direction: column; // Mengatur info pengguna dalam kolom  
            width: 160px;
          
            .user-name {  
              font-weight: bold; // Menebalkan nama pengguna  
              color: #333; // Warna teks  
              text-align: left;
            }  
          
            .user-details {  
              font-size: 11px; // Ukuran font untuk detail  
              color: #666; // Warna teks untuk detail  
              text-align: left;
            }  
          }  
          
          .dropdown-icon {  
              width: 20px; // Ukuran ikon dropdown  
              height: 20px;  
              
              img {  
                width: 100%; // Mengatur ikon agar memenuhi div  
                height: 100%; // Mengatur ikon agar memenuhi div  
                transition: transform 0.3s ease; // Animasi transisi saat memutar  
              
                &.rotate {  
                  transform: rotate(180deg); // Memutar gambar 180 derajat  
                }  
              }  
            }   
        }  

        
        
  }  
    

  .dropdown-menu {  
      position: absolute; // Mengatur posisi dropdown  
      background-color: white; // Warna latar belakang dropdown  
      border-left: 1px solid #ddd; // Border untuk dropdown  
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-top:0px;
      border-radius: 1px; // Border-radius untuk dropdown  
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman  
      z-index: 1000; // Memastikan dropdown berada di atas elemen lain  
      margin-top: 10px; // Jarak antara dropdown dan elemen di atasnya  
      right:50px;
      top:80px;
      width: 160px;
      
      ul {  
        list-style: none; // Menghilangkan bullet points  
        padding: 0; // Menghilangkan padding  
        margin: 0; // Menghilangkan margin  
      
        li {  
          padding: 10px; // Padding untuk item dropdown  
          cursor: pointer; // Menunjukkan bahwa item dapat diklik  
      
          &:hover {  
            background-color: #f0f0f0; // Warna latar belakang saat hover  
          }  
        }  
      }  
  }  
  
}