<div class="header" *ngIf="!isFrameOnly()">  
    <div class="header-top"> 
        <div class="logo"> 
          <ng-container *ngIf="isDashboard() || isRiwayat() || isInspectionSummary() || isUnitInput(); else tugasHeader">
            <img src="../../assets/icons/logo-tribik.svg" alt="Logo" (click)="goHome()" style="cursor: pointer;"> 
          </ng-container>
          <ng-template #tugasHeader>
              <ng-container *ngIf="isTugas(); else otherHeader">
                <img src="../../assets/icons/logo-tribik.svg" alt="Logo" (click)="goHome()" style="cursor: pointer;">  
              </ng-container> 
              <ng-template #otherHeader>
                <span class="label-page" style="cursor:pointer" (click)="goBack()">
                  &lt; &nbsp;BASTK &nbsp; &#x25CF; {{ isDetailRiwayat() || isHistorySummary() ? 'Detil Riwayat' : 'Detil Tugas' }}
                </span>
              </ng-template>
          </ng-template>
        </div>

        <div class="profile-dropdown" >  
          <div class="header-user" (click)="toggleDropdown()">  
            <div class="profile-image">  
              <img src="../../assets/icons/profil.svg" alt="Profile">  
            </div>  
            <div class="user-info">  
              <span class="user-name">{{HiThere}}</span>  
              <span class="user-details">{{HiLocation}}</span>  
            </div>  
            <div class="dropdown-icon" >  
                <img src="../../assets/icons/arrow-down.svg" alt="Dropdown" [ngClass]="{'rotate': isDropdownOpen}">  
              </div>  
          </div>  
          <div class="dropdown-menu" *ngIf="isDropdownOpen">  
            <ul>  
              <!-- <li>Edit Foto</li>   -->
              <li (click)="logout()">Logout</li>  
            </ul>  
          </div>  
        </div>  
    </div>    
    
      <ng-container [ngSwitch]="getCurrentView()">
        <ng-container *ngSwitchCase="'/dashboard'">
          <!-- Konten untuk dashboard -->
        </ng-container>

        <ng-container *ngSwitchCase="'/inspection-summary'">
          <!-- Konten untuk dashboard -->
        </ng-container>

        <ng-container *ngSwitchCase="'/history-summary'">
          <!-- Konten untuk dashboard -->
        </ng-container>

        <ng-container *ngSwitchCase="'/inspeksi-unit'">
          <!-- Konten untuk dashboard -->
        </ng-container>
      
        <ng-container *ngSwitchCase="'/tugas'">
          <app-the-menus-of-tugas  (filterTugasChange)="filterTugasChange($event)"></app-the-menus-of-tugas>
        </ng-container>
      
        <ng-container *ngSwitchCase="'/exterior-inspection'">
          <app-menu-of-exterior-inspection (panelToScroll)="scrollToPanel($event)" [availableChip]="subCategory" (menuSelected)="onMenuSelected($event)"></app-menu-of-exterior-inspection>
        </ng-container>
      
        <ng-container *ngSwitchCase="'/interior-inspection'">
          <app-menu-of-interior-inspection [availableChip]="subCategory"  (menuSelected)="onMenuSelected($event)"></app-menu-of-interior-inspection>
        </ng-container>
      
        <ng-container *ngSwitchCase="'/engine-inspection'">
          <app-menu-of-engine-inspection [availableChip]="subCategory"  (menuSelected)="onMenuSelected($event)"></app-menu-of-engine-inspection>
        </ng-container>
      
        <ng-container *ngSwitchCase="'/unit-photos'">
          <app-menu-of-photos-inspection  (menuSelected)="onMenuSelected($event)"></app-menu-of-photos-inspection>
        </ng-container>
      
        <ng-container *ngSwitchCase="'/riwayat'">
          <app-filter-riwayat (inputChange)="onInputChange($event)"></app-filter-riwayat>
        </ng-container>
      
        <ng-container *ngSwitchCase="'/detil-terjadwal'">
          <app-the-menu-of-detil-terjadwal (menuSelected)="onMenuSelected($event)"></app-the-menu-of-detil-terjadwal>
        </ng-container>
      
        <ng-container *ngSwitchCase="'/unit-input'">
          <app-the-menu-of-unit-input (menuSelected)="onMenuSelected($event)"></app-the-menu-of-unit-input>
        </ng-container>
      
        <ng-container *ngSwitchCase="'/detil-riwayat'">
          <app-menu-of-detail-riwayat (menuSelected)="onMenuSelected($event)" [activeNoah]="activeNoah" [activeLoc]="activeLoc" [activeDatetime]="activeDatetime" [activeDoneBy]="activeDoneBy" [activeDoneDate]="activeDoneDate"></app-menu-of-detail-riwayat>
        </ng-container>
      
        <ng-container *ngSwitchCase="'nomenu'">
        </ng-container>
      
        <ng-container *ngSwitchDefault>
          <app-the-menu-of-detil-tugas (menuSelected)="onMenuSelected($event)"></app-the-menu-of-detil-tugas>
        </ng-container>
      </ng-container>
        
          
</div>

<div *ngIf="isFrameOnly()"></div>


  