<div class="header-bottom">
    <div class="task-summary">
    </div>
  
    <div class="row-container">
        <div class="chip-container">  
            <div class="chip" [class.active]="activeChipIndex === 0" (click)="setActiveChip(0)">Upload Semua</div>  
            <div class="chip" [class.active]="activeChipIndex === 1" (click)="setActiveChip(1)">Bagian Luar</div>  
            <div class="chip" [class.active]="activeChipIndex === 2" (click)="setActiveChip(2)">Bagian Dalam</div>  
            <div class="chip" [class.active]="activeChipIndex === 3" (click)="setActiveChip(3)">Bagian Mesin</div>  
            <div class="chip" [class.active]="activeChipIndex === 4" (click)="setActiveChip(4)">Foto Minus</div>  
            <!-- <div class="chip" [class.active]="activeChipIndex === 5" (click)="setActiveChip(5)">Foto Sistem</div>   -->
            <div class="custom-slider" [ngStyle]="{'transform': 'translateX(' + (activeChipIndex * 60) + 'px)'}"></div> <!-- Garis kustom -->  
          </div>
          
          
          <div class="filter-container">  
           
          </div>
    </div>
  
  
  </div> 
  