    <div id="rw-info" style="padding-top: 10px;">
        <app-the-detail-history-info [sampleDataVendor]="sampleDataVendor"  [sampleData]="sampleData"></app-the-detail-history-info>
    </div>
    <div id="rw-exterior" style="padding-top: 10px;">
       <!-- <app-the-detail-history-exterior [sampleData]="sampleData"></app-the-detail-history-exterior> -->
        <div class="max-w-8xl mx-auto bg-white p-3 mt-4">
            <!-- Exterior Inspection -->
                <div class="mb-2" *ngFor="let item of groupedData['Exterior']">
                    <h2 class="text-xl font-semibold mb-2">{{ item.item_description }}</h2>
                    <!-- perulangan questions -->
                    <div class="grid grid-cols-2 gap-4">
                        <div *ngFor="let q of item.questions"> <!-- kecilkan margin bawah -->
                            <ng-container *ngIf="q.name">
                                <p>{{ q.name }}</p>
                                <p class="font-semibold">{{ item.kondisi === 'Tidak' ? 'Tidak ada' : item.kondisi }}, {{ q.answer }}</p>
                            </ng-container>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="rw-interior" style="padding-top: 10px;">
        <!-- <app-the-detail-history-interior [sampleData]="sampleData"></app-the-detail-history-interior> -->
        <div class="max-w-8xl mx-auto bg-white p-3 mt-4">
            <!-- Interior Inspection -->
                <div class="mb-2" *ngFor="let item of groupedData['Interior']">
                    <h2 class="text-xl font-semibold mb-2">{{ item.item_description }}</h2>
                    <!-- perulangan questions -->
                    <div class="grid grid-cols-2 gap-4">
                        <div *ngFor="let q of item.questions"> <!-- kecilkan margin bawah -->
                            <ng-container *ngIf="q.name">
                                <p>{{ q.name }}</p>
                                <p class="font-semibold">{{ item.kondisi === 'Tidak' ? 'Tidak ada' : item.kondisi }}, {{ q.answer }}</p>
                            </ng-container>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div id="rw-engine" style="padding-top: 10px;">
        <!-- <app-the-detail-history-engine [sampleData]="sampleData"></app-the-detail-history-engine> -->
            <!-- Engine Inspection -->
            <div class="max-w-8xl mx-auto bg-white p-3 mt-4">
                <div class="mb-2" *ngFor="let item of groupedData['Engine']">
                    <h2 class="text-xl font-semibold mb-2">{{ item.item_description }}</h2>
                    <!-- perulangan questions -->
                    <div class="grid grid-cols-2 gap-4">
                        <div *ngFor="let q of item.questions"> <!-- kecilkan margin bawah -->
                            <ng-container *ngIf="q.name">
                                <p>{{ q.name }}</p>
                                <p class="font-semibold">{{ item.kondisi === 'Tidak' ? 'Tidak ada' : item.kondisi }}, {{ q.answer }}</p>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <div id="rw-photos" style="padding-top: 10px;">
        <!-- <app-the-detail-history-photos></app-the-detail-history-photos> -->

        <div class="max-w-8xl mx-auto bg-white p-2 mt-2">
            <h2 class="text-black-600 font-bold text-lg mb-4">Foto Bagian Luar (Exterior)</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8">
                <div *ngFor="let desc of bagianLuarDescriptions" class="bagian-luar-block" style="margin-top:10px;">
                    <div style="width:100%;height:30px;" class="labelnya">{{ desc }}</div>
                    <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">
                        <!-- Ada gambar -->
                        <div *ngIf="(bagianLuar[desc] || []).length > 0">
                            <div class=" p-2 flex items-center justify-center h-full blau" *ngFor="let img of bagianLuar[desc]">
                                <img 
                                    alt="Foto Bagian Luar" 
                                    class="w-full h-full object-cover max-w-full max-h-full" 
                                    src="{{mediaUrl}}{{img.image_url}}" 
                                    style="display: block;"
                                />    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-8xl mx-auto bg-white p-2 mt-2">
            <h2 class="text-black-600 font-bold text-lg mb-4">Foto Bagian Dalam (Interior & Bagasi)</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8">
                <div *ngFor="let desc of bagianDalamDescriptions" class="bagian-luar-block" style="margin-top:10px;">
                    <div style="width:100%;height:30px;" class="labelnya">{{ desc }}</div>
                    <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">
                        <!-- Ada gambar -->
                        <div *ngIf="(bagianDalam[desc] || []).length > 0">
                            <div class=" p-2 flex items-center justify-center h-full blau" *ngFor="let img of bagianDalam[desc]">
                                <img 
                                    alt="Foto Bagian Dalam" 
                                    class="w-full h-full object-cover max-w-full max-h-full" 
                                    src="{{mediaUrl}}{{img.image_url}}" 
                                    style="display: block;"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-8xl mx-auto bg-white p-2 mt-2">
            <h2 class="text-black-600 font-bold text-lg mb-4">Foto Bagian Mesin (Engine)</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8">
                <div *ngFor="let desc of bagianMesinDescriptions" class="bagian-luar-block" style="margin-top:10px;">
                    <div style="width:100%;height:30px;" class="labelnya">{{ desc }}</div>
                    <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">
                        <!-- Ada gambar -->
                        <div *ngIf="(bagianMesin[desc] || []).length > 0">
                            <div class=" p-2 flex items-center justify-center h-full blau" *ngFor="let img of bagianMesin[desc]">
                                <img 
                                    alt="Foto Mesin" 
                                    class="w-full h-full object-cover max-w-full max-h-full" 
                                    src="{{mediaUrl}}{{img.image_url}}" 
                                    style="display: block;"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-8xl mx-auto bg-white p-2 mt-2">
            <h2 class="text-black-600 font-bold text-lg mb-4">Foto Kerusakan/Kekurangan Unit (Minus)</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8" >

                <div class="bagian-minus-block" style="margin-top:10px;" *ngFor="let img of bagianMinus['all']">
                    <div style="width:100%;height:30px;" class="labelnya">{{ img.descriptions }}</div>
                    <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">
                        <div class="img-wrapper">
                            <img 
                                    alt="Foto Mesin" 
                                    class="w-full h-full object-cover max-w-full max-h-full" 
                                    src="{{mediaUrl}}{{img.image_url}}" 
                                    style="display: block;"
                                />
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>

        <!-- <div class="max-w-8xl mx-auto bg-white p-2 mt-2">
            <h2 class="text-black-600 font-bold text-lg mb-4">Foto Sistem</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8">
                <div *ngFor="let desc of bagianSistemDescriptions" class="bagian-luar-block" style="margin-top:10px;">
                    <div style="width:100%;height:30px;" class="labelnya">{{ desc }}</div>
                    <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">
                        <div *ngIf="(bagianSistem[desc] || []).length > 0">
                            <div class=" p-2 flex items-center justify-center h-full blau" *ngFor="let img of bagianSistem[desc]">
                                <img 
                                    alt="Foto Sistem" 
                                    class="w-full h-full object-cover max-w-full max-h-full" 
                                    src="{{mediaUrl}}{{img.image_url}}" 
                                    style="display: block;"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


    </div>