    <div id="rw-info" style="padding-top: 10px;">
        <app-the-detail-history-info [sampleDataVendor]="sampleDataVendor"  [sampleData]="sampleData"></app-the-detail-history-info>
    </div>
    <div id="rw-exterior" style="padding-top: 10px;">
       <app-the-detail-history-exterior [sampleData]="sampleData"></app-the-detail-history-exterior>
    </div>
    <div id="rw-interior" style="padding-top: 10px;">
        <app-the-detail-history-interior [sampleData]="sampleData"></app-the-detail-history-interior>
    </div>
    <div id="rw-engine" style="padding-top: 10px;">
        <app-the-detail-history-engine [sampleData]="sampleData"></app-the-detail-history-engine>
    </div>
    <div id="rw-photos" style="padding-top: 10px;">
        <app-the-detail-history-photos></app-the-detail-history-photos>
    </div>