@media (min-width: 600px) {
    .wakacimpruy{
        height: 50px;
        width:250px;
        text-align: right;
        box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);
    }

    .minyikunyung{
        height: 50px;
        width:250px;
        text-align: right;
        box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75); 
        -webkit-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75); 
        -moz-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);
    }
}




@media (max-width: 540px) {
    .wakacimpruy{
        height: 50px;
        width:45%;
        text-align: right;
        box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);
    }

    .minyikunyung{
        height: 50px;
        width:55%;
        text-align: right;
        box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75); 
        -webkit-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75); 
        -moz-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);
    }
}