<div class="bg-white flex justify-end items-center p-2" style="padding-top:0px; border-top:solid #EBEBEB 1px;">
    <div class="flex space-x-4" style="padding-top:5px;">
        <button class="flex items-center space-x-2 bg-white text-[#D5230D] px-6 py-2 rounded-full min-w-[120px] border border-[#D5230D] hover:bg-[#D5230D] hover:text-black"
         style="height: 50px;width:250px;text-align: right; box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75); -webkit-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75); -moz-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);"  (click)="goesToRevision()">
            <i class="fas fa-chevron-left"></i>
            <span style="font-family:'NunitoSans';font-weight:bold;">Request Edit</span>
        </button>
        <button class="flex items-center space-x-2 bg-red-600 text-white px-6 py-2 rounded-full min-w-[120px]" style="height: 50px;width:250px;text-align: right;box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75); -webkit-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75); -moz-box-shadow: -1px 17px 38px -4px rgba(0,0,0,0.75);">
            <span style="font-family:'NunitoSans';font-weight:bold;" (click)="downloadDokUnit('')">Unduh Semua Laporan</span>
            <!-- <i class="fas fa-chevron-right"></i> -->
             <img src="../../assets/icons/dl-all.png" alt="Download" class="krs"/>
        </button>

    </div> 
</div>
