<div class="bg-white flex justify-end items-center p-4" style="padding-top:10px; border-top:solid #EBEBEB 1px;">
    <div class="flex space-x-4">
        <button class="flex items-center space-x-2 bg-white text-[#D5230D] px-6 py-2 rounded-full min-w-[120px] border border-[#D5230D] hover:bg-[#D5230D] hover:text-white">
            <i class="fas fa-chevron-left"></i>
            <span style="font-family:'NunitoSans';font-weight:bold;">Unduh Data & Dokumen Unit</span>
        </button>
        
        <button class="flex items-center space-x-2 bg-red-600 text-white px-6 py-2 rounded-full min-w-[120px]">
            <span style="font-family:'NunitoSans';font-weight:bold;">Unduh Semua Laporan</span>
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>
