<div class="product-container">
    <div class="label-product">{{sampleData?.display_name}}</div>
    <div class="anakan-label">{{sampleData?.brand?.brand_name}} &#x25CF; {{sampleData?.variant_model?.model_name}}</div>

    <div class="container mx-auto">
        <div id="Bagian Luar">
            <h2 class="text-red-600 font-bold text-lg mb-4">Foto Bagian Luar (Exterior)</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8" >

                    <div *ngFor="let desc of bagianLuarDescriptions" class="bagian-luar-block" style="margin-top:10px;">
                        <div style="width:100%;height:30px;" class="labelnya">{{ desc }}</div>
                        <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">

                            <!-- Ada gambar -->
                            <div *ngIf="(bagianLuar[desc] || []).length > 0; else kosong">
                                <div class="img-wrapper" *ngFor="let img of bagianLuar[desc]">
                                    <div class="gbrFile" style="background-image: url({{mediaUrl}}{{img.image_url}});">
                                        <img src="./../../assets/icons/delphot.png" style="cursor:pointer;background-color: transparent;border:0px;position:relative;padding-top:0px;padding-left:20em;padding-top:10px;z-index: 999;"  (click)="removeImage(img.id)">
                                    </div>
                                </div>
                            </div>

                            <!-- Tidak ada gambar -->
                            <ng-template #kosong>
                                <div  class="border-0 border-dashed p-0 flex items-center justify-center h-full">
                                    <input type="file" (change)="aplot($event,desc,'Foto Bagian Luar (Exterior)')" accept="image/*" class="hidden" [id]="'fileInputLuar' + sanitize(desc)">
                                    <label [for]="'fileInputLuar' + sanitize(desc)" class="cursor-pointer" style="border:0px;">
                                    <img src="../../assets/icons/upl-button.svg" alt="Upload" class="w-12 h-12">
                                    </label>
                                </div>
                            </ng-template>
                        </div>
                    </div>
            </div>
        </div>

        <div id="Bagian Dalam">
            <h2 class="text-red-600 font-bold text-lg mb-4">Foto Bagian Dalam (Interior & Bagasi)</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8" >

                    <div *ngFor="let desc of bagianDalamDescriptions" class="bagian-dalam-block" style="margin-top:10px;">
                        <div style="width:100%;height:30px;" class="labelnya">{{ desc }}</div>
                        <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">

                            <!-- Ada gambar -->
                            <div *ngIf="(bagianDalam[desc] || []).length > 0; else kosongDalam">
                                <div class="img-wrapper" *ngFor="let img of bagianDalam[desc]">
                                    <div class="gbrFile" style="background-image: url({{mediaUrl}}{{img.image_url}});">
                                        <img src="./../../assets/icons/delphot.png" style="cursor:pointer;background-color: transparent;border:0px;position:relative;padding-top:0px;padding-left:20em;padding-top:10px;z-index: 999;"  (click)="removeImage(img.id)">
                                    </div>
                                </div>
                            </div>

                            <!-- Tidak ada gambar -->
                            <ng-template #kosongDalam>
                                <div  class="border-0 border-dashed p-0 flex items-center justify-center h-full">
                                    <input type="file" (change)="aplot($event,desc,'Foto Bagian Dalam (Interior & Bagasi)')" accept="image/*" class="hidden" [id]="'fileInputDalam' + sanitize(desc)">
                                    <label [for]="'fileInputDalam' + sanitize(desc)" class="cursor-pointer" style="border:0px;">
                                    <img src="../../assets/icons/upl-button.svg" alt="Upload" class="w-12 h-12">
                                    </label>
                                </div>
                            </ng-template>
                        </div>
                    </div>
            </div>
        </div>

        <div id="Bagian Mesin">
            <h2 class="text-red-600 font-bold text-lg mb-4">Foto Bagian Mesin</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8" >

                    <div *ngFor="let desc of bagianMesinDescriptions" class="bagian-mesin-block" style="margin-top:10px;">
                        <div style="width:100%;height:30px;" class="labelnya">{{ desc }}</div>
                        <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">

                            <!-- Ada gambar -->
                            <div *ngIf="(bagianMesin[desc] || []).length > 0; else kosongMesin">
                                <div class="img-wrapper" *ngFor="let img of bagianMesin[desc]">
                                    <div class="gbrFile" style="background-image: url({{mediaUrl}}{{img.image_url}});">
                                        <img src="./../../assets/icons/delphot.png" style="cursor:pointer;background-color: transparent;border:0px;position:relative;padding-top:0px;padding-left:20em;padding-top:10px;z-index: 999;"  (click)="removeImage(img.id)">
                                    </div>
                                </div>
                            </div>

                            <!-- Tidak ada gambar -->
                            <ng-template #kosongMesin>
                                <div  class="border-0 border-dashed p-0 flex items-center justify-center h-full">
                                    <input type="file" (change)="aplot($event,desc,'Foto Bagian Mesin')" accept="image/*" class="hidden" [id]="'fileInputMesin' + sanitize(desc)">
                                    <label [for]="'fileInputMesin' + sanitize(desc)" class="cursor-pointer" style="border:0px;">
                                    <img src="../../assets/icons/upl-button.svg" alt="Upload" class="w-12 h-12">
                                    </label>
                                </div>
                            </ng-template>
                        </div>
                    </div>
            </div>
        </div>

        <div id="Foto Minus">
            <h2 class="text-red-600 font-bold text-lg mb-4">Foto Kerusakan/Kekurangan Unit (Minus)</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8" >

                    <div *ngFor="let desc of bagianMinusDescriptions" class="bagian-minus-block" style="margin-top:10px;">
                        <div style="width:100%;height:30px;" class="labelnya">{{ desc }}</div>
                        <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">

                            <!-- Ada gambar -->
                            <div *ngIf="(bagianMinus[desc] || []).length > 0; else kosongMinus">
                                <div class="img-wrapper" *ngFor="let img of bagianMinus[desc]">
                                    <div class="gbrFile" style="background-image: url({{mediaUrl}}{{img.image_url}});">
                                        <img src="./../../assets/icons/delphot.png" style="cursor:pointer;background-color: transparent;border:0px;position:relative;padding-top:0px;padding-left:20em;padding-top:10px;z-index: 999;"  (click)="removeImage(img.id)">
                                    </div>
                                </div>
                            </div>

                            <!-- Tidak ada gambar -->
                            <ng-template #kosongMinus>
                                <div  class="border-0 border-dashed p-0 flex items-center justify-center h-full">
                                    <input type="file" (change)="aplot($event,desc,'Foto Kerusakan/Kekurangan Unit (Minus)')" accept="image/*" class="hidden" [id]="'fileInputMinus' + sanitize(desc)">
                                    <label [for]="'fileInputMinus' + sanitize(desc)" class="cursor-pointer" style="border:0px;">
                                    <img src="../../assets/icons/upl-button.svg" alt="Upload" class="w-12 h-12">
                                    </label>
                                </div>
                            </ng-template>
                        </div>
                    </div>
            </div>
        </div>

        <div id="Foto Sistem">
            <h2 class="text-red-600 font-bold text-lg mb-4">Foto Sistem</h2>
            <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 mb-8" >

                    <div *ngFor="let desc of bagianSistemDescriptions" class="bagian-sistem-block" style="margin-top:10px;">
                        <div style="width:100%;height:30px;" class="labelnya">{{ desc }}</div>
                        <div class="border-2 border-dashed border-blau-400 p-0 flex items-right justify-center blau" style="height: 120px;">

                            <!-- Ada gambar -->
                            <div *ngIf="(bagianSistem[desc] || []).length > 0; else kosongSistem">
                                <div class="img-wrapper" *ngFor="let img of bagianSistem[desc]">
                                    <div class="gbrFile" style="background-image: url({{mediaUrl}}{{img.image_url}});">
                                        <img src="./../../assets/icons/delphot.png" style="cursor:pointer;background-color: transparent;border:0px;position:relative;padding-top:0px;padding-left:20em;padding-top:10px;z-index: 999;"  (click)="removeImage(img.id)">
                                    </div>
                                </div>
                            </div>

                            <!-- Tidak ada gambar -->
                            <ng-template #kosongSistem>
                                <div  class="border-0 border-dashed p-0 flex items-center justify-center h-full">
                                    <input type="file" (change)="aplot($event,desc,'Foto Sistem')" accept="image/*" class="hidden" [id]="'fileInputSistem' + sanitize(desc)">
                                    <label [for]="'fileInputSistem' + sanitize(desc)" class="cursor-pointer" style="border:0px;">
                                    <img src="../../assets/icons/upl-button.svg" alt="Upload" class="w-12 h-12">
                                    </label>
                                </div>
                                <!-- <app-image-unitphotos-uploader (reloadDisPage)="infoUnit()" [unitId]="unit_id" [labelDoc]="'Foto Bagian Dalam (Interior & Bagasi)'" [labelDesc]="desc"></app-image-unitphotos-uploader> -->
                            </ng-template>
                        </div>
                    </div>
            </div>
        </div>


    </div>
</div>


<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-spinner"></div>
  <div class="loading-text">Data sedang dimuat...</div>
</div>