@media (min-width: 768px) {
      
    .top-label{
        font-family: 'Nunito Sans';
        font-weight: 800;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0px;
        color:#312E2E;

    }

    .bottom-label{
        font-family: 'Nunito Sans';
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0px;
        color:#908B8B;
    }

    .right-label{
        font-family: 'NunitoSans';
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0px;
        color: #908B8B;
    }

    .status-done {  
        background-color: #E7F8F0;  
        color: #10A760;  
        min-width: 100px;
        height: 40px;
        padding: 8px 16px;
        border-radius: 15px;
        font-family: 'Nunito Sans';
        font-weight: 800;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;

    }  

    .status-container{
        margin-top:10px;
        margin-bottom: 15px;
    }


  
    
    // Bagian bawah header  
    .header-bottom {    
        display: flex;      
        flex-direction: column; // Mengatur arah flex menjadi kolom    
        padding: 5px 20px 0px 20px;    
        border-bottom: #EBEBEB solid 1px;   
        
        .task-summary {    
          width: 100%; // Lebar 100%    
          font-size: 18px; // Ukuran font    
          font-weight: bold; // Menebalkan teks    
          color: #333; // Warna teks    
          margin-bottom: 5px; // Jarak antara task summary dan chip-container    
          text-align: left;  
          font-weight: 700;
        }    
        
        // Membuat container baru untuk chip dan filter  
        .row-container {  
          display: flex; // Mengatur chip-container dan filter-container dalam satu baris  
          justify-content: space-between; // Mengatur jarak antara chip-container dan filter-container  
          width: 100%; // Lebar 100%  
        }  
        
        .chip-container {    
          width: 65%; // Lebar chip-container  
          display: flex;    
          gap: 10px; // Jarak antar chip    
          overflow-x: auto; // Mengizinkan scroll horizontal    
          padding: 0px 0; // Padding atas dan bawah    
          white-space: nowrap; // Mencegah chip membungkus ke baris berikutnya    
          position: relative; // Untuk posisi elemen kustom    
          font-weight: 800;  
        
          // Sembunyikan scrollbar default    
          &::-webkit-scrollbar {    
            display: none; // Menyembunyikan scrollbar    
          }    
        
          // Gaya untuk garis kustom    
          .custom-slider {    
            height: 2px; // Tinggi garis    
            max-width: 50px; // Lebar maksimum garis    
            // background-color: #D5230D; // Warna garis    
            position: absolute; // Posisi absolut    
            bottom: 0; // Tempatkan di bawah chip    
            left: 0; // Mulai dari kiri    
            transition: transform 0.3s ease; // Transisi saat aktif    
          }    
        
          .chip {    
            padding: 8px 12px;    
            // border-radius: 48px;    
            // border: 1px solid #F5F5F5; // Border chip    
            // background-color: #F5F5F5; // Warna latar belakang chip tidak aktif    
            color: black; // Warna huruf chip tidak aktif    
            cursor: pointer;    
        
            &.active {    
              color: #D5230D; // Warna latar belakang chip aktif   
              border-bottom: #D5230D solid 4px; 
              font-size: 16px;
              font-weight: 700;
            //   color: white; // Warna huruf chip aktif    
            }    
          }    
        }    
        
        .filter-container {    
          width: 35%; // Lebar maksimum 35%    
          display: flex;    
          justify-content: flex-end; // Mengatur konten ke kanan    
          align-items: center;    
          position: relative; // Agar dropdown dapat diposisikan dengan benar    
          gap: 10px;  
        
          .filter-button {    
            display: flex; // Mengatur ikon dan teks dalam satu baris    
            align-items: center; // Menyelaraskan ikon dan teks    
            padding: 8px 16px; // Padding untuk tombol    
            background-color: #ffffff; // Warna latar belakang button    
            color: #312E2E; // Warna huruf button    
            border: solid 1px #D4D2D2; // Menghilangkan border default    
            border-radius: 48px; // Border-radius untuk tombol    
            cursor: pointer; // Menunjukkan bahwa ini adalah elemen yang dapat diklik    
        
            img {    
              margin-right: 5px; // Jarak antara ikon dan teks    
            }    
        
            &:hover {    
              background-color: #F5F5F5; // Warna latar belakang saat hover    
              font-weight: bold;  
            }    
        
            &.active {    
              color: #C2200C; // Warna border saat aktif    
            }    
          }    
        
          .dropdown-menu-filter {    
            position: absolute; // Mengatur posisi dropdown    
            background-color: white; // Warna latar belakang dropdown    
            border: 1px solid #ddd; // Border untuk dropdown    
            border-radius: 16px; // Border-radius untuk dropdown    
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman    
            z-index: 1000; // Memastikan dropdown berada di atas elemen lain    
            margin-top: 10px; // Jarak antara dropdown dan tombol    
            top: 45px;  
            right: 130px;  
            width: 300px;  
        
            .dropdown-item-filter {    
              display: flex; // Mengatur ikon dan teks dalam satu baris    
              align-items: center; // Menyelaraskan ikon dan teks    
              padding: 10px; // Padding untuk item dropdown    
              cursor: pointer; // Menunjukkan bahwa item dapat diklik    
        
              img {    
                width: 20px; // Ukuran tetap untuk ikon    
                height: 20px; // Ukuran tetap untuk ikon    
                margin-right: 10px; // Jarak antara ikon dan teks    
              }    
        
              &:hover {    
                background-color: #F5F5F5; // Warna latar belakang saat hover    
                color: #C2200C; // Warna teks saat hover   
                font-weight: bold;   
              }    
            }    
          }    
        
          .dropdown-sort-filter {    
            position: absolute; // Mengatur posisi dropdown    
            background-color: white; // Warna latar belakang dropdown    
            border: 1px solid #ddd; // Border untuk dropdown    
            border-radius: 16px; // Border-radius untuk dropdown    
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman    
            z-index: 1000; // Memastikan dropdown berada di atas elemen lain    
            margin-top: 10px; // Jarak antara dropdown dan tombol    
            top: 45px;  
            right: 10px;  
            width: 200px;  
        
            .dropdown-item-sort-filter {    
              display: flex; // Mengatur ikon dan teks dalam satu baris    
              align-items: center; // Menyelaraskan ikon dan teks    
              padding: 10px; // Padding untuk item dropdown    
              cursor: pointer; // Menunjukkan bahwa item dapat diklik    
        
              img {    
                width: 20px; // Ukuran tetap untuk ikon    
                height: 20px; // Ukuran tetap untuk ikon    
                margin-right: 10px; // Jarak antara ikon dan teks    
              }    
        
              &:hover {    
                background-color: #F5F5F5; // Warna latar belakang saat hover    
                color: #C2200C; // Warna teks saat hover   
                font-weight: bold;   
              }    
            }    
          }  
        }  
    }   
      

      
}


@media (max-width: 540px) {
      .top-label{
        font-family: 'Nunito Sans';
        font-weight: 800;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0px;
        color:#312E2E;

    }

    .bottom-label{
        font-family: 'Nunito Sans';
        font-weight: 700;
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0px;
        color:#908B8B;
        padding-top:15px;
    }

    .right-label{
        font-family: 'NunitoSans';
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0px;
        color: #908B8B;
    }

    .status-done {  
        background-color: #E7F8F0;  
        color: #10A760;  
        min-width: 100px;
        height: 40px;
        padding: 8px 16px;
        border-radius: 15px;
        font-family: 'Nunito Sans';
        font-weight: 800;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;

    }  

    .status-container{
        margin-top:10px;
        margin-bottom: 15px;
    }


  
    
    // Bagian bawah header  
    .header-bottom {    
        display: flex;      
        flex-direction: column; // Mengatur arah flex menjadi kolom    
        padding: 5px 20px 0px 20px;    
        border-bottom: #EBEBEB solid 1px;   
        
        .task-summary {    
          width: 100%; // Lebar 100%    
          font-size: 18px; // Ukuran font    
          font-weight: bold; // Menebalkan teks    
          color: #333; // Warna teks    
          margin-bottom: 5px; // Jarak antara task summary dan chip-container    
          text-align: left;  
          font-weight: 700;
        }    
        
        // Membuat container baru untuk chip dan filter  
        .row-container {  
          // display: flex; // Mengatur chip-container dan filter-container dalam satu baris  
          // justify-content: space-between; // Mengatur jarak antara chip-container dan filter-container  
          width: 100%; // Lebar 100%  
        }  
        
        .chip-container {    
          width: 100%; // Lebar chip-container  
          display: flex;    
          gap: 5px; // Jarak antar chip    
          overflow-x: auto; // Mengizinkan scroll horizontal    
          padding: 0px 0; // Padding atas dan bawah    
          white-space: nowrap; // Mencegah chip membungkus ke baris berikutnya    
          position: relative; // Untuk posisi elemen kustom    
          font-weight: 800;  
        
          // Sembunyikan scrollbar default    
          &::-webkit-scrollbar {    
            display: none; // Menyembunyikan scrollbar    
          }    
        
          // Gaya untuk garis kustom    
          .custom-slider {    
            height: 2px; // Tinggi garis    
            max-width: 50px; // Lebar maksimum garis    
            // background-color: #D5230D; // Warna garis    
            position: absolute; // Posisi absolut    
            bottom: 0; // Tempatkan di bawah chip    
            left: 0; // Mulai dari kiri    
            transition: transform 0.3s ease; // Transisi saat aktif    
          }    
        
          .chip {    
            padding: 6px 5px;    
            // border-radius: 48px;    
            // border: 1px solid #F5F5F5; // Border chip    
            // background-color: #F5F5F5; // Warna latar belakang chip tidak aktif    
            color: black; // Warna huruf chip tidak aktif    
            cursor: pointer;
            font-size: 12px;    
        
            &.active {    
              color: #D5230D; // Warna latar belakang chip aktif   
              border-bottom: #D5230D solid 4px; 
              font-size: 12px;
              font-weight: 700;
            //   color: white; // Warna huruf chip aktif    
            }    
          }    
        }    
        
        .filter-container {    
          width: 35%; // Lebar maksimum 35%    
          display: flex;    
          justify-content: flex-end; // Mengatur konten ke kanan    
          align-items: center;    
          position: relative; // Agar dropdown dapat diposisikan dengan benar    
          gap: 10px;  
        
          .filter-button {    
            display: flex; // Mengatur ikon dan teks dalam satu baris    
            align-items: center; // Menyelaraskan ikon dan teks    
            padding: 8px 16px; // Padding untuk tombol    
            background-color: #ffffff; // Warna latar belakang button    
            color: #312E2E; // Warna huruf button    
            border: solid 1px #D4D2D2; // Menghilangkan border default    
            border-radius: 48px; // Border-radius untuk tombol    
            cursor: pointer; // Menunjukkan bahwa ini adalah elemen yang dapat diklik    
        
            img {    
              margin-right: 5px; // Jarak antara ikon dan teks    
            }    
        
            &:hover {    
              background-color: #F5F5F5; // Warna latar belakang saat hover    
              font-weight: bold;  
            }    
        
            &.active {    
              color: #C2200C; // Warna border saat aktif    
            }    
          }    
        
          .dropdown-menu-filter {    
            position: absolute; // Mengatur posisi dropdown    
            background-color: white; // Warna latar belakang dropdown    
            border: 1px solid #ddd; // Border untuk dropdown    
            border-radius: 16px; // Border-radius untuk dropdown    
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman    
            z-index: 1000; // Memastikan dropdown berada di atas elemen lain    
            margin-top: 10px; // Jarak antara dropdown dan tombol    
            top: 45px;  
            right: 130px;  
            width: 300px;  
        
            .dropdown-item-filter {    
              display: flex; // Mengatur ikon dan teks dalam satu baris    
              align-items: center; // Menyelaraskan ikon dan teks    
              padding: 10px; // Padding untuk item dropdown    
              cursor: pointer; // Menunjukkan bahwa item dapat diklik    
        
              img {    
                width: 20px; // Ukuran tetap untuk ikon    
                height: 20px; // Ukuran tetap untuk ikon    
                margin-right: 10px; // Jarak antara ikon dan teks    
              }    
        
              &:hover {    
                background-color: #F5F5F5; // Warna latar belakang saat hover    
                color: #C2200C; // Warna teks saat hover   
                font-weight: bold;   
              }    
            }    
          }    
        
          .dropdown-sort-filter {    
            position: absolute; // Mengatur posisi dropdown    
            background-color: white; // Warna latar belakang dropdown    
            border: 1px solid #ddd; // Border untuk dropdown    
            border-radius: 16px; // Border-radius untuk dropdown    
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Bayangan untuk efek kedalaman    
            z-index: 1000; // Memastikan dropdown berada di atas elemen lain    
            margin-top: 10px; // Jarak antara dropdown dan tombol    
            top: 45px;  
            right: 10px;  
            width: 200px;  
        
            .dropdown-item-sort-filter {    
              display: flex; // Mengatur ikon dan teks dalam satu baris    
              align-items: center; // Menyelaraskan ikon dan teks    
              padding: 10px; // Padding untuk item dropdown    
              cursor: pointer; // Menunjukkan bahwa item dapat diklik    
        
              img {    
                width: 20px; // Ukuran tetap untuk ikon    
                height: 20px; // Ukuran tetap untuk ikon    
                margin-right: 10px; // Jarak antara ikon dan teks    
              }    
        
              &:hover {    
                background-color: #F5F5F5; // Warna latar belakang saat hover    
                color: #C2200C; // Warna teks saat hover   
                font-weight: bold;   
              }    
            }    
          }  
        }  
    } 
}

  