<div *ngIf="!isLogin; else mainApp">
  <app-the-login (onSuccessLogin)="onSuccessLogin($event)"></app-the-login>
</div>

<ng-template #mainApp>
  <div class="app-container">
    <div class="the-header">      
      <app-header (menuChange)="onMenuChange($event)" [activeChipIndex]="activeChipIndex"></app-header>      
    </div>      
    <div class="the-content">    
      <router-outlet  (panelChange)="setActiveChip($event)"></router-outlet>      
    </div>  

    <ng-container *ngIf="!isDetailView; else detailFooter">
      <div class="the-footer">      
        <app-footer></app-footer>    
      </div>
    </ng-container>
    
    <ng-template #detailFooter>
      <div class="the-detail-footer">      
        <app-detail-footer [stepNow]="watchThisStep"></app-detail-footer>    
      </div>
    </ng-template>
  </div>
</ng-template>
  <!-- <app-loading-overlay [isVisible]="isLoading"></app-loading-overlay> -->
