<div *ngIf="isMobilisasiRoute">
  <app-frame-mobilisasi></app-frame-mobilisasi>
</div>
<div *ngIf="!isMobilisasiRoute && !isLogin; else mainApp">
  <app-the-login (onSuccessLogin)="onSuccessLogin($event)"></app-the-login>
</div>

<ng-template #mainApp>
  <div class="container app-container" *ngIf="isLogin">
    <div class="the-header">      
      <app-header (menuChange)="onMenuChange($event)" (filterChange)="onFilterChange($event)" (filterHistoryChange)="onFilterHistoryChange($event)" [activeNoah]="noah" [activeLoc]="noahloc" [activeDatetime]="noahdate" [activeDoneBy]="noahdoneby" [activeDoneDate]="noahdonedate"></app-header>      
    </div>
    
    <ng-container [ngSwitch]="getCurrentRouterView()">
          <ng-container *ngSwitchCase="'maincontent'">
          <div class="the-maincontent">
            <router-outlet  (panelChange)="setActiveChip($event)"></router-outlet>      
          </div> 
          </ng-container>
          <ng-container *ngSwitchCase="'dt-tugas'">
            <div class="the-maincontent">
              <router-outlet  (panelChange)="setActiveChip($event)"  (activePanelChange)="onActivePanelChange($event)"></router-outlet>      
            </div> 
          </ng-container>
          <ng-container *ngSwitchCase="'dt-terjadwal'">
            <div class="the-maincontent">
              <router-outlet  (panelChange)="setActiveChip($event)"  (activePanelChange)="onActivePanelChange($event)"></router-outlet>      
            </div> 
          </ng-container>
          <ng-container *ngSwitchCase="'dt-riwayat'">
            <div class="the-content">
              <router-outlet  (panelChange)="setActiveChip($event)"></router-outlet>      
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'main'">
            <div class="the-content">
              <router-outlet  (panelChange)="setActiveChip($event)"></router-outlet>      
            </div> 
          </ng-container>
          
          <ng-container *ngSwitchCase="'none'"></ng-container>
      </ng-container>

 


    <ng-container [ngSwitch]="getCurrentView()">

      <ng-container *ngSwitchCase="'main'">
        <div class="the-footer">      
          <app-footer></app-footer>    
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'dt-tugas'">
        <div class="the-detail-footer">      
          <app-detail-footer [stepNow]="watchThisStep"></app-detail-footer>    
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'dt-terjadwal'">
        <div class="the-detail-footer">      
          <app-detail-terjadwal [stepNow]="watchThisStep"></app-detail-terjadwal>    
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'dt-riwayat'">
        <div class="the-detail-footer">      
          <app-detail-history-footer></app-detail-history-footer>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'none'">
        <!--empty footer-->
      </ng-container>

    </ng-container>

  </div>
</ng-template>
  <!-- <app-loading-overlay [isVisible]="isLoading"></app-loading-overlay> -->
