// Variabel untuk warna  
$header-color: white;  
$footer-color: white;  
$content-color: white;  
  
// Reset margin dan padding  
* {  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
  font-family: 'NunitoSans';
}  
  
// Body styling  
body, html {  
  height: 100%;  
  font-family: Arial, sans-serif;  
}  
  
// Container utama  
.app-container {  
  display: flex;  
  flex-direction: column;  
  max-height: 90vh;  
  // padding-bottom: 80px;
}  
  


@keyframes scale-up-center {
			
  0% {
    transform:scale(.2);
  }
  100% {
    transform:scale(1);
  }
}

@keyframes shutter-in-top {
			
  0% {
    transform:rotateX(-100deg);
    transform-origin:top;
    opacity:0;
  }
  100% {
    transform:rotateX(0deg);
    transform-origin:top;
    opacity:1;
  }
}

@keyframes focus-in-contract {
			
  0% {
    letter-spacing:1em;
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }
}

@keyframes text-focus-in {
			
  0% {
    filter:blur(12px);
    opacity:0;
  }
  100% {
    filter:blur(0);
    opacity:1;
  }
}

@keyframes focus-in-zoomout {
			
  0% {
    letter-spacing:1em;
    transform:translateY(300px);
    filter:blur(12px);
    opacity:0;
  }
  100% {
    transform:translateY(0px);
    filter:blur(0);
    opacity:1;
  }
}

// Header styling  
.the-header {  
  background-color: $header-color;  
  width: 99%;  
  padding: 5px 3rem;  
  text-align: center;  
  position: fixed;  
  top: 0;  
  z-index: 1000;
  height: 180px;
  border: solid red 0px;
}  

.the-maincontent {
    // border: solid red 1px;
    height: 100vh;
    width: 100vw;
    position: relative;
    float: left;

    flex: 1;  
    padding: 0px 0.5rem;  
    margin-top: 12rem; // Sesuaikan dengan tinggi header  
    overflow-y: auto;  
    background-color: $content-color;  
  }

select.placeholder {
  color: #b4b4b4;
}




// Content styling  
.the-content {  
  flex: 1;  
  padding: 5px 4rem;  
  margin-top: 12rem; // Sesuaikan dengan tinggi header  
  overflow-y: auto;  
  background-color: $content-color;  
  width: 100vw;
  // border: solid rgb(172, 112, 0) 2px;
  // display: none;
}  


::ng-deep mat-expansion-panel {
  // background-color: #f0f0f0; // Mengubah warna latar belakang accordion
  border-radius: 15px; // Menambahkan border-radius
  border: solid #EBEBEB 1.5px;
  // box-shadow: 0 2px 4px rgba(242, 242, 242, 0.1); 
  -webkit-box-shadow: 0px 1px 22px -2px rgba(0,0,0,0.81);
  -moz-box-shadow: 0px 1px 22px -2px rgba(0,0,0,0.81);
  box-shadow: 0px 1px 22px -2px rgba(0,0,0,0.81);
}

::ng-deep mat-expansion-panel-header {
  // background-color: #d0e0ff;
  font-weight: bold;
  // border: solid red 5px;
}
  
// Footer styling  
.the-footer {  
  background-color: $footer-color;  
  width: 99%;  
  padding: 1rem;  
  text-align: center;  
  position: fixed;  
  bottom: 0;  
  z-index: 1000;
  border: solid green 0px;
}  

.the-detail-footer {  
  background-color: $footer-color;  
  width: 99%;  
  padding: 1rem;  
  text-align: center;  
  position: fixed;  
  bottom: 0;  
  z-index: 1000;
}  
  
// Detail view styling  
.detail-view { 
  display: none;   
  .footer {  
    display: none;  
  }  
  .content {  
    margin-bottom: 0; // Hapus margin bottom jika footer tidak ada  
  }  
}  


@media (max-width: 540px) {
  .app-container {  
    display: block;  
    max-height: 100vh;  
    // padding-bottom: 80px;

      .the-header {
        // height: 120px;
        // padding: 3px 0.4rem;
        // border: solid rgb(0, 0, 255) 1px;
        width: 100%;
        background-color: $header-color;  
        width: 100%;  
        padding: 5px 0.5rem;  
        text-align: center;  
        position: fixed;  
        top: 0;  
        z-index: 1000;
        height: auto;
        border: solid red 0px;
      }

      .the-maincontent {
        // border: solid red 1px;
        height: 100vh;
        width: 100%;
        position: relative;
        float: left;

        flex: 1;  
        padding: 0px 0.5rem;  
        margin-top: 7rem; // Sesuaikan dengan tinggi header  
        overflow-y: auto;  
        background-color: $content-color;  
      }

      .the-content {
        // border: solid red 1px;
        height: 100vh;
        width: 100%;
        position: relative;
        float: left;

        flex: 1;  
        padding: 0px 0.5rem;  
        margin-top: 13rem; // Sesuaikan dengan tinggi header  
        overflow-y: auto;  
        background-color: $content-color;  
      }

      .the-footer,
      .the-detail-footer {
        padding: 0.4rem;
        font-size: 0.75rem;
        // border: solid rgb(145, 255, 0) 1px;
      }
  }


::ng-deep mat-expansion-panel {
  // background-color: #f0f0f0; // Mengubah warna latar belakang accordion
  border-radius: 15px; // Menambahkan border-radius
  border: solid #EBEBEB 1px;
  // box-shadow: 0 2px 4px rgba(242, 242, 242, 0.1); 
  -webkit-box-shadow: 0px 1px 22px -2px rgba(0,0,0,0.81);
  -moz-box-shadow: 0px 1px 22px -2px rgba(0,0,0,0.81);
  box-shadow: 0px 1px 22px -2px rgba(0,0,0,0.81);
}

::ng-deep mat-expansion-panel-header {
  // background-color: #d0e0ff;
  font-weight: bold;
  // border: solid red 5px;
}

  


    
}


@media (min-width: 600px)and (max-width: 900px) {
  .the-header {
    height: 80px;
    padding: 3px 0.4rem;
  }

  .the-content {
    margin-top: 11rem;
    padding: 3px 1rem;
  }

  .the-footer,
  .the-detail-footer {
    padding: 0.4rem;
    font-size: 0.85rem;
  }

  .app-container {  
    display: flex;  
    flex-direction: column;  
    max-height: 95vh;  
    // padding-bottom: 80px;
  }  
    
}