<div class="max-w-8xl mx-auto bg-white p-6 mt-8">
    <!-- Engine Inspection -->

    <div class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Vehicle Engine</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p class="font-semibold">Tiang Kap Mesin</p>
                <p>Ada, Kondisi Baik</p>
            </div>
            <div>
                <p class="font-semibold">Accu (Aki)</p>
                <p>Ada, Kondisi Baik</p>
            </div>
            <div>
                <p class="font-semibold">Peredam Kap Mesin</p>
                <p>Ada, Kondisi Baik</p>
            </div>
            <div>
                <p class="font-semibold">Braket Accu (Aki)</p>
                <p>Ada, Kondisi Baik</p>
            </div>
            <div>
                <p class="font-semibold">Engine Cover</p>
                <p>Ada, Kondisi Baik</p>
            </div>
            <div>
                <p class="font-semibold">Extra Fan</p>
                <p>Ada, Kondisi Baik</p>
            </div>
            <div>
                <p class="font-semibold">Fuse Box Cover</p>
                <p>Tidak Ada</p>
            </div>
            <div>
                <p class="font-semibold">Radiator</p>
                <p>Ada, Kondisi Baik</p>
            </div>
            <div>
                <p class="font-semibold">Cowel</p>
                <p>Ada, Kondisi Baik</p>
            </div>
            <div>
                <p class="font-semibold">Reservoir Tank Radiator</p>
                <p>Ada, Kondisi Baik</p>
            </div>
            <div>
                <p class="font-semibold">Tutup Oli</p>
                <p>Ada, Kondisi Baik</p>
            </div>
        </div>
    </div>

</div>
