<div class="product-container">

    <div class="bg-white rounded-md md:flex md:space-x-6">
        <div class="flex-1 flex justify-center items-center">
        <img alt="Inspection-Summary" class="w-full max-w-sm" height="300" src="../../assets/icons/itsdone.png" />
        </div>
        <div class="flex-1">
        <h1 class="text-2xl font-bold mb-4 bigger">
        Inspeksi Unit Selesai
        </h1>
        <p class="mb-4 mediumer">
        Hai John Doe, anda telah menyelesaikan tugas BASTK pada tanggal 14 Feb 2025, 08:56 WIB. Anda dapat mengunduh hasil BASTK anda di bawah ini :
        </p>
        <ul class="space-y-2 mb-6">
        <li class="flex justify-between items-center">
        <a class="text-blue-600 biru" href="#">
            Data dan dokumen Unit
        </a>
        <img src="../../assets/icons/download.svg" alt="Download" />
        </li>
        <li class="flex justify-between items-center">
        <a class="text-blue-600 biru" href="#">
            Exterior Inspection
        </a>
         <img src="../../assets/icons/download.svg" alt="Download" />
        </li>
        <li class="flex justify-between items-center">
        <a class="text-blue-600 biru" href="#">
            Interior Inspection
        </a>
         <img src="../../assets/icons/download.svg" alt="Download" />
        </li>
        <li class="flex justify-between items-center">
        <a class="text-blue-600 biru" href="#">
            Engine Inspection
        </a>
         <img src="../../assets/icons/download.svg" alt="Download" />
        </li>
        <li class="flex justify-between items-center">
        <a class="text-blue-600 biru" href="#">
            Unit Photos
        </a>
         <img src="../../assets/icons/download.svg" alt="Download" />
        </li>
        </ul>
        <div class="grid grid-cols-2 gap-4 mb-6">
        <button class="bg-gray-100 text-gray-700 py-2 px-4 rounded-lg flex items-center justify-center">
        <i class="fas fa-user mr-2">
        </i>
        Penerima unit
        </button>
        <button class="bg-gray-100 text-gray-700 py-2 px-4 rounded-lg flex items-center justify-center">
        <i class="fas fa-user mr-2">
        </i>
        Penerima unit
        </button>
        </div>
        <div class="flex space-x-4">
        <button class="batenret">
        Unduh semua
        </button>
        <button class="batengrei" (click)="backToTugasPage()">
        Kembali ke Daftar Tugas
        </button>
        </div>
        </div>
    </div>
</div>