<div class="product-container">
    <div class="label-product">{{sampleDataInfo?.display_name}}</div>
    <div class="anakan-label">{{sampleDataInfo?.unit_location}} &#x25CF; {{sampleDataInfo?.first_published_at | date:'dd MMMM yyyy'}}</div>


<!--       
        <div *ngFor="let subCategory of objectKeys(groupedSubItems['Exterior'])"  style="padding-left:10px;">
          <h4 style="color:#d90606;">{{ subCategory }}</h4>
      
          <div *ngFor="let item of groupedSubItems['Exterior'][subCategory]"  style="padding-left:30px;">
            <h5>{{ item.item_description }}</h5>
            
            <div  style="padding-left:50px;">
              <ul *ngIf="item.questions && item.questions.length > 0">
                <li *ngFor="let question of item.questions">
                  <div *ngIf="question.name">
                    <strong>{{ question.name }}:</strong>
                    
                    <div style="padding-left:60px;">
                      <ul>
                        <li *ngFor="let option of question.options">
                          {{ option }} - {{ question.answer }}
                        </li>
                      </ul>
                    </div>
                    
                  </div>
                </li>
              </ul>
            </div>
            
      
          </div>
        </div> -->


        <mat-accordion multi>
          <form #engineForm="ngForm">
              <div *ngFor="let subCategory of objectKeys(groupedSubItems['Engine'])" style="padding-left:10px;margin-bottom:30px;">
                  <mat-expansion-panel [expanded]="true" #{{subCategory}} id="{{subCategory}}">
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              <span style="border:solid red 0px;font-weight:bold;">{{ subCategory }}</span>
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                      </mat-expansion-panel-header>
    
                      <div *ngFor="let item of groupedSubItems['Engine'][subCategory]">
                          <div>
                            <div *ngIf="item.questions && item.questions.length > 0" style="position:relative;width:47%;float:left;border:solid orange 0px;margin-left:30px;">
                              <label style="font-weight: bold;text-transform: capitalize;width:50%;border:solid rgb(255, 251, 0) 0px;padding-left:15px;">{{ item.item_description }}</label>
                                  <div class="flex" style="gap: 25%">
                                    <label style="display: flex; align-items: center; gap: 15px; font-size: 14px; margin-left:10px;">
                                      <input type="radio"
                                             class="custom-radio"
                                             name="{{item.id}}_kondisi"
                                             [value]="'Ada'"
                                             [(ngModel)]="item.kondisi"
                                             (ngModelChange)="onSubmit(engineForm)" />
                                      Ada
                                    </label>

                                    <label style="display: flex; align-items: center; gap: 15px; font-size: 14px; margin-left:10px;">
                                      <input type="radio"
                                             class="custom-radio"
                                             name="{{item.id}}_kondisi"
                                             [value]="'Tidak'"
                                             [(ngModel)]="item.kondisi"
                                             (ngModelChange)="onSubmit(engineForm)" />
                                      Tidak
                                    </label>

                                  
                                </div>
                                  <ng-container *ngFor="let question of item.questions">
                                      <div *ngIf="question.name !== null" style="position:relative; float:left; width: 50%; ">
                                          <div>
                                              <div>
                                                  <span style="padding-left:15px;">
                                                    <select
                                                            class="mt-2 w-full p-2 border rounded"
                                                            [name]="item.id + '_' + question.key"
                                                            (ngModelChange)="onSubmit(engineForm)"
                                                            [(ngModel)]="question.answer"
                                                            style="text-transform: capitalize; font-size:14px; color: #0f0d0d;"
                                                            [ngStyle]="{ color: !question.answer ? '#b4b4b4' : '#0f0d0d' }"

                                                            >
                                                            <option *ngIf="question.answer == ''" [ngValue]="''" disabled  style="color:#b4b4b4;">-- {{question.name}} --</option>
                                                            <option *ngIf="!question.answer" [ngValue]="null" disabled  style="color:#b4b4b4;">-- {{question.name}} --</option>
                                                            <option style="color:#141414;" *ngFor="let option of question.options" [ngValue]="option">{{ option }}</option>
                                                        </select>
                                                  </span>                                                  
                                              </div>
                                          </div>
                                      </div>
                                  </ng-container>
                              </div>
                          </div>
                      </div>
                  </mat-expansion-panel>
              </div>
          </form>
      </mat-accordion>


</div>