<div class="product-container">
    <div class="label-product">{{sampleDataInfo?.display_name}}</div>
    <div class="anakan-label">{{sampleDataInfo?.brand?.brand_name}} &#x25CF; {{sampleDataInfo?.variant_model?.model_name}}</div>


        <mat-accordion multi>
          <form #engineForm="ngForm">
              <div *ngFor="let subCategory of objectKeys(groupedSubItems['Engine'])" style="padding-left:10px;margin-bottom:30px;">
                  <mat-expansion-panel [expanded]="true"  id="{{subCategory}}"  (mouseenter)="onPanelInView(subCategory)">
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              <span style="border:solid red 0px;font-weight:bold;">{{ subCategory }}</span>
                          </mat-panel-title>
                          <mat-panel-description>
                          </mat-panel-description>
                      </mat-expansion-panel-header>
    
                      <div *ngFor="let item of groupedSubItems['Engine'][subCategory]">
                          <div>
                            <div *ngIf="item.questions && item.questions.length > 0"  class="pertinyiin">
                              <label style="font-weight: bold;text-transform: capitalize;width:50%;border:solid rgb(255, 251, 0) 0px;padding-left:15px;">{{ item.item_description }}</label>
                                  <div class="flex" style="gap: 25%">
                                    <label style="display: flex; align-items: center; gap: 15px; font-size: 14px; margin-left:10px;">
                                      <input type="radio"
                                             class="custom-radio"
                                             name="{{item.id}}_kondisi"
                                             [value]="'Ada'"
                                             [(ngModel)]="item.kondisi"
                                             (ngModelChange)="onSubmit(engineForm)" 
                                             (click)="openQuestionsModal(item)"/>
                                      Ada
                                    </label>

                                    <label style="display: flex; align-items: center; gap: 15px; font-size: 14px; margin-left:10px;">
                                      <input type="radio"
                                             class="custom-radio"
                                             name="{{item.id}}_kondisi"
                                             [value]="'Tidak'"
                                             [(ngModel)]="item.kondisi"
                                             (ngModelChange)="onSubmit(engineForm)" />
                                      Tidak
                                    </label>

                                  
                                </div>

                              </div>
                          </div>
                      </div>
                  </mat-expansion-panel>
              </div>
          </form>
      </mat-accordion>


</div>


<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-spinner"></div>
  <div class="loading-text">Data sedang dimuat...</div>
</div>

<div *ngIf="isModalAnswerOpen" class="modal-overlay" (mousedown)="onModalOverlayClick($event)">
  <div class="modal-content" (mousedown)="$event.stopPropagation()">
    <h3 style="margin-bottom:10px;">{{ modalItem?.item_description }}</h3>
    <ng-container *ngFor="let question of modalQuestions; let i = index">
      <div *ngIf="question.name !== null" style="margin-bottom: 16px;">
        <!-- <label style="font-weight: bold;">{{ question.name }}</label> -->
        <select
          [id]="'selectEl_' + modalItem.id + '_' + i"
          class="mt-2 w-full p-2 border rounded"
          [name]="modalItem.id + '_' + question.key"
            (ngModelChange)="onSelectChange($event, engineForm)"
          [(ngModel)]="question.answer"
          style="text-transform: capitalize; font-size:14px; color: #0f0d0d;">
          <option [ngValue]="null" disabled style="color:#b4b4b4;">-- {{question.name}} --</option>
          <option style="color:#141414;" *ngFor="let option of question.options" [ngValue]="option">{{ option }}</option>
        </select>
      </div>
    </ng-container>
    <button type="button" class="flex items-center space-x-1 bg-red-600 text-white px-4 py-2 rounded-full wd45" (click)="closeQuestionsModal()" style="margin-top:20px;">Tutup</button>
  </div>
</div>