<div class="product-container">
    <div class="label-product">{{sampleDataInfo?.display_name}}</div>
    <div class="anakan-label">{{sampleDataInfo?.unit_location}} &#x25CF; {{sampleDataInfo?.first_published_at | date:'dd MMMM yyyy'}}</div>


<!--       
        <div *ngFor="let subCategory of objectKeys(groupedSubItems['Exterior'])"  style="padding-left:10px;">
          <h4 style="color:#d90606;">{{ subCategory }}</h4>
      
          <div *ngFor="let item of groupedSubItems['Exterior'][subCategory]"  style="padding-left:30px;">
            <h5>{{ item.item_description }}</h5>
            
            <div  style="padding-left:50px;">
              <ul *ngIf="item.questions && item.questions.length > 0">
                <li *ngFor="let question of item.questions">
                  <div *ngIf="question.name">
                    <strong>{{ question.name }}:</strong>
                    
                    <div style="padding-left:60px;">
                      <ul>
                        <li *ngFor="let option of question.options">
                          {{ option }} - {{ question.answer }}
                        </li>
                      </ul>
                    </div>
                    
                  </div>
                </li>
              </ul>
            </div>
            
      
          </div>
        </div> -->


    <mat-accordion multi>
        <div *ngFor="let subCategory of objectKeys(groupedSubItems['Engine'])"  style="padding-left:10px;">
            <mat-expansion-panel [expanded]="true" #{{subCategory}} >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <b>{{ subCategory }}</b>
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                </mat-expansion-panel-header>
            
                <div *ngFor="let item of groupedSubItems['Engine'][subCategory]" >
                    <div>
                            
                            <!-- <div  style="border:solid yellow 2px;width:100%;position:relative;float:left;"> -->
                                <div *ngIf="item.questions && item.questions.length > 0">
                                    <label style="font-weight: bold;text-transform: uppercase;width:50%;">{{ item.item_description }}</label>
                                    <ng-container *ngFor="let question of item.questions">
                                        <div *ngIf="question.name !== null" style="position:relative; float:left; width: 50%; ">
                                            <div>
                                                
                                            
                                                <div>
                                                    <ng-container *ngIf="question.options.length === 2; else moreThanTwoOptions">
                                                        <label class="block text-sm font-medium text-gray-700" style="text-transform: capitalize; font-size:14px; font-weight: bolder;">{{ question.name }}</label>
                                                        <div class="flex" style="gap: 25%">
                                                            <label
                                                              *ngFor="let option of question.options"
                                                              style="display: flex; align-items: center; gap: 15px; font-size: 14px;"
                                                            >
                                                              <input
                                                                type="radio"
                                                                [name]="question.name + '_' + item.id"
                                                                [value]="option"
                                                                style="width: 22px; height: 22px;" 
                                                              />
                                                              {{ option }}
                                                            </label>
                                                          </div>
                                                    </ng-container>
                                                    <ng-template #moreThanTwoOptions>
                                                        <select class="mt-2 w-full p-2 border rounded" [name]="question.name" style="text-transform: capitalize; font-size:14px; color: #0f0d0d;">
                                                            <option value="" disabled selected style="color: #908B8B;">{{ question.name }}</option>
                                                            <option *ngFor="let option of question.options" [value]="option">
                                                                {{ option }}
                                                            </option>
                                                        </select>
                                                    </ng-template>
                                                </div>
                                        
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                    


                            
                    </div>
                    

                    
            
                </div>
            </mat-expansion-panel>
        </div>


    </mat-accordion>

    <app-the-modal 
    [isOpen]="isModalOpen" 
    [message]="'Apakah data yang Anda masukkan sudah benar?'" 
    [imageUrl]="'../../assets/icons/warning-icon.svg'">
    </app-the-modal>

</div>