<div class="max-w-8xl mx-auto bg-white p-6 mt-8">
    <!-- Info Vendor Section -->
    <div class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Info Vendor</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p>Nama Vendor</p>
                <p class="font-semibold">{{sampleDataVendor?.vendor_name}}</p>
            </div>
            <div>
                <p>No. Telepon</p>
                <p class="font-semibold">{{sampleDataVendor?.phone}}</p>
            </div>
            <div>
                <p>Alamat</p>
                <p class="font-semibold">{{sampleDataVendor?.address}}</p>
            </div>
            <div>
                <p>PIC Pengirim</p>
                <p class="font-semibold">{{pic}}</p>
            </div>
            <div>
                <p>Tanggal Pengiriman</p>
                <p class="font-semibold">17 September 2024</p>
            </div>
        </div>
    </div>

    <!-- Info Kendaraan Section -->
    <div class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Info Kendaraan</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p>Ekspedisi</p>
                <select id="expedition" name="expedition"  disabled class="font-semibold">
                      <option *ngFor="let choice of choices" 
                              [value]="choice[0]" 
                              [attr.selected]="choice[0] === sampleData?.expedition ? '' : null">
                        {{ choice[1] }}
                      </option>
                    </select>
            </div>
            <div>
                <p>Kategori</p>
                 <select id="category" name="category" placeholder="Pilih Kategori" disabled class="font-semibold">
                      <option *ngFor="let vehictype of vehicletype?.results"
                              [value]="vehictype.type_name"
                              [attr.data-id]="vehictype.id"
                              [attr.data-name]="vehictype.type_name"
                              [attr.selected]="vehictype.id === sampleData?.unit_category_id ? '' : null">
                        {{ vehictype.type_name }}
                      </option>
                    </select>
            </div>
            <div>
                <p>Nomor Polisi</p>
                <input id="licensePlate" type="text" placeholder="Nomor Polisi"  value="{{sampleData?.police_number}}" readonly class="font-semibold"/>
            </div>
            <div>
                <p>Lokasi Unit</p>
                <input type="text" id="unit_location" placeholder="Lokasi Unit" value="{{sampleData?.unit_location}}" class="font-semibold" readonly/>
            </div>
            <div>
                <p>Merek</p>
                <select id="brand" name="brand" placeholder="Merek"  disabled class="font-semibold">
                      <option value="" disabled [selected]="!sampleData?.brand?.brand_name">Pilih Merek</option>
                      <option *ngFor="let brand of brands?.results" 
                              [value]="brand.brand_name" 
                              [attr.selected]="brand.brand_name === sampleData?.brand?.brand_name ? '' : null"
                              [attr.data-brand-id]="brand?.id">
                        {{ brand.brand_name }}
                      </option>
                    </select>
            </div>
            <div>
                <p>Kapasitas Mesin (CC)</p>
                <p class="font-semibold">2.397</p>
            </div>
            <div>
                <p>Tipe</p>
                <p class="font-semibold">Pajero Dakar Ultimate 4x4 AT</p>
            </div>
            <div>
                <p>Warna</p>
                <p class="font-semibold">Hitam Metalik</p>
            </div>
            <div>
                <p>Tahun</p>
                <input type="text" id="tahun" placeholder="Tahun"  value="{{sampleData?.unit_year}}"  class="font-semibold" readonly/>
            </div>
            <div>
                <p>Transmisi</p>
                <p class="font-semibold">A/T</p>
            </div>
        </div>
    </div>

    <!-- Dokumen dan Kelengkapan Lainnya Section -->
    <div>
        <h2 class="text-xl font-semibold mb-4">Dokumen dan Kelengkapan Lainnya</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p>Jenis Surat</p>
                <p class="font-semibold">Surat Kuasa</p>
            </div>
            <div>
                <p>Tanggal Pembuatan</p>
                <p class="font-semibold">17 September 2024</p>
            </div>
            <div>
                <p>No. Surat Kuasa</p>
                <p class="font-semibold">NP129920/1709/B2298VGU</p>
            </div>
        </div>
        <div class="mt-4">
            <p class="font-semibold">Lampiran Dokumen</p>
            <div class="flex space-x-4 mt-2">
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg">Foto BPKB</button>
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg">Foto STNK</button>
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg">Surat Kuasa</button>
            </div>
        </div>
        <div class="mt-4">
            <p>Status BPKB</p>
            <p class="font-semibold">Tribik Jakarta</p>
        </div>
        <div class="mt-4">
            <p>Keterangan Lainnya</p>
            <p class="font-semibold">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>
