<div class="max-w-8xl mx-auto bg-white p-6 mt-8">
    <!-- Info Vendor Section -->
    <div class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Info Vendor</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p>Nama Vendor</p>
                <p class="font-semibold">{{sampleDataVendor?.vendor_name}}</p>
            </div>
            <div>
                <p>No. Telepon</p>
                <p class="font-semibold">{{sampleDataVendor?.phone}}</p>
            </div>
            <div>
                <p>Alamat</p>
                <p class="font-semibold">{{sampleDataVendor?.address}}, {{sampleDataVendor?.city}}, {{sampleDataVendor?.province}}</p>
            </div>
            <div>
                <p>PIC Pengirim</p>
                <p class="font-semibold">{{pic}}</p>
            </div>
            <!-- <div>
                <p>Tanggal Pengiriman</p>
                <p class="font-semibold"></p>
            </div> -->
        </div>
    </div>

    <!-- Info Kendaraan Section -->
    <div class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Info Kendaraan</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p>Ekspedisi</p>
                <select id="expedition" name="expedition"  disabled class="font-semibold">
                      <option *ngFor="let choice of choices" 
                              [value]="choice[0]" 
                              [attr.selected]="choice[0] === sampleData?.expedition ? '' : null">
                        {{ choice[1] }}
                      </option>
                    </select>
            </div>
            <div>
                <p>Kategori</p>
                 <select id="category" name="category" placeholder="Pilih Kategori" disabled class="font-semibold">
                      <option *ngFor="let vehictype of vehicletype?.results"
                              [value]="vehictype.type_name"
                              [attr.data-id]="vehictype.id"
                              [attr.data-name]="vehictype.type_name"
                              [attr.selected]="vehictype.id === sampleData?.unit_category_id ? '' : null">
                        {{ vehictype.type_name }}
                      </option>
                    </select>
            </div>
            <div>
                <p>Nomor Polisi</p>
                <p class="font-semibold">{{ sampleData?.police_number }}</p>
            </div>
            <div>
                <p>Status Unit</p>
                <p class="font-semibold">{{ sampleData?.unit_location }}</p>
            </div>
            <div>
                <p>Merek</p>
                <p class="font-semibold">{{ sampleData?.brand?.brand_name }}</p>
            </div>
            <div style="display: none;">
                <p>Kapasitas Mesin (cc)</p>
                <p class="font-semibold">{{ sampleData?.cc ? (sampleData?.cc | number:'1.0-0') : '' }}</p>
            </div>
            <div style="display: none;">
                <p>Tipe</p>
                <p class="font-semibold">{{sampleData?.variant_model?.model_name}}</p>
            </div>
            <div>
                <p>Warna</p>
                <p class="font-semibold">{{sampleData?.color?.color_name}}</p>
            </div>
            <div style="display: none;">
                <p>Tahun</p>
                <p class="font-semibold">{{sampleData?.unit_year}}</p>
            </div>
            <div>
                <p>Transmisi</p>
                <p class="font-semibold">{{sampleData?.transmission}}</p>
            </div>
        </div>
    </div>

    <!-- Dokumen dan Kelengkapan Lainnya Section -->
    <div>
        <h2 class="text-xl font-semibold mb-4">Dokumen dan Kelengkapan Lainnya</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p>Jenis Surat</p>
                <label>
                        <input  type="radio" class="custom-radio" name="transmission" value="automatic" [checked]="sampleData?.transmission !== 'MT'" readonly disabled/>
                        <p class="font-semibold">Automatic</p>
                    </label>
                    &nbsp;
                    <label>
                        <input type="radio" class="custom-radio" name="transmission" value="manual" [checked]="sampleData?.transmission === 'MT'" readonly disabled/>
                        <p class="font-semibold">Manual</p>
                    </label>
            </div>
            <div>
                <p>Tanggal Pembuatan</p>
                <p class="font-semibold">{{sampleData?.first_published_at | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </div>
            <div>
                <p>No. Surat Kuasa</p>
                <p class="font-semibold">NP129920/1709/B2298VGU</p>
            </div>
        </div>
        <div class="mt-4">
            <p class="font-semibold">Lampiran Dokumen</p>
            <div class="flex space-x-4 mt-2">
                <!-- <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('BPKB')">Foto BPKB</button> -->
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('KTP')">Foto KTP</button>
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('STNK')">Foto STNK</button>
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('SURATKUASA')">Foto Surat Kuasa</button>
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('BASTK')">Foto BASTK</button>
            </div>
        </div>
        <div class="mt-4">
            <p>Status BPKB</p>
            <p class="font-semibold">{{sampleData?.bpkb}}</p>
        </div>
        <div class="mt-4">
            <p>Keterangan Lainnya</p>
            <p class="font-semibold">{{sampleData?.notes}}</p>
        </div>
    </div>
</div>
