<div class="max-w-8xl mx-auto bg-white p-6 mt-8">
    <!-- Info Vendor Section -->
    <div class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Info Vendor</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p>Nama Vendor</p>
                <p class="font-semibold">{{sampleDataVendor?.vendor_name}}</p>
            </div>
            <div>
                <p>No. Telepon</p>
                <p class="font-semibold">{{sampleData?.pic_sender_phone}}</p>
            </div>
            <div>
                <p>Lokasi Unit</p>
                <p class="font-semibold">{{sampleData?.unit_location}}</p>
            </div>
            <div>
                <p>PIC Pengirim</p>
                <p class="font-semibold">{{sampleData?.pic_sender}}</p>
            </div>
            <div>
                <p>Tanggal Pengiriman</p>
                <p class="font-semibold">{{sampleData?.bastk_timestamp| date: 'dd MMMM yyyy pukul HH:mm'}}</p>
            </div>
        </div>
    </div>

    <!-- Info Kendaraan Section -->
    <div class="mb-8">
        <h2 class="text-xl font-semibold mb-4">Info Kendaraan</h2>
        <div class="grid grid-cols-2 gap-4">
            <div>
                <p>Ekspedisi</p>
                <select id="expedition" name="expedition"  disabled class="font-semibold">
                      <option *ngFor="let choice of choices" 
                              [value]="choice[0]" 
                              [attr.selected]="choice[0] === sampleData?.expedition ? '' : null">
                        {{ choice[1] }}
                      </option>
                    </select>
            </div>
            <div>
                <p>Kategori</p>
                <b>{{sampleData?.unit_type?.type_name}}</b>
            </div>
            <div>
                <p>Nomor Polisi</p>
                <p class="font-semibold">{{ sampleData?.police_number }}</p>
            </div>
            <div>
                <p>Merek</p>
                <p class="font-semibold">{{ sampleData?.brand?.brand_name }}</p>
            </div>
            <div style="display: none;">
                <p>Tipe</p>
                <p class="font-semibold">{{sampleData?.brand_model_name}}</p>
            </div>
            <div>
                <p>Noka</p>
                <p class="font-semibold">{{ sampleData?.chassis_number }}</p>
            </div>
            <div>
                <p>Nosin</p>
                <p class="font-semibold">{{ sampleData?.engine_number }}</p>
            </div>
            <div>
                <p>Keur</p>
                <p class="font-semibold">{{ selectedKeurStatus === 'Ada' ? (keurDateString | date:'dd MMMM yyyy') : 'Tidak Ada' }}</p>
            </div>

            <div style="display: none;">
                <p>Kapasitas Mesin (cc)</p>
                <p class="font-semibold">{{ sampleData?.cc ? (sampleData?.cc | number:'1.0-0') : '' }}</p>
            </div>

            <div>
                <p>Kilometer (ODO)</p>
                <p class="font-semibold">{{ formatNumber(sampleData?.odo_meter) }}</p>
            </div>
            <div>
                <p>Status Unit</p>
                <p class="font-semibold" style="text-transform: uppercase;">{{ HiLocation }}</p>
            </div>
            <div>
                <p>Warna</p>
                <p class="font-semibold">{{sampleData?.color?.color_name}}</p>
            </div>
            <div style="display: none;">
                <p>Tahun</p>
                <p class="font-semibold">{{sampleData?.unit_year}}</p>
            </div>
            <div>
                <p>Transmisi</p>
                <p class="font-semibold">{{sampleData?.transmission}}</p>
            </div>
            <div>
                <p>STNK</p>
                <p class="font-semibold">{{ selectedStnkStatus === 'Ada' ? (stnkDateString | date:'dd MMMM yyyy') : 'Tidak Ada' }}</p>
            </div>
        </div>
    </div>

    <!-- Dokumen dan Kelengkapan Lainnya Section -->
    <div>
        <h2 class="text-xl font-semibold mb-4">Dokumen dan Kelengkapan Lainnya</h2>

        <div class="mt-4">
            <p class="font-semibold">Lampiran Dokumen</p>
            <div class="flex space-x-4 mt-2">
                <!-- <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('BPKB')">Foto BPKB</button> -->
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('KTP')">Foto KTP</button>
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('STNK')">Foto STNK</button>
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('SURATKUASA')">Foto Surat Kuasa</button>
                <button class="bg-blue-100 text-blue-600 px-4 py-2 rounded-lg button-upl-view" (click)="openGallery('BASTK')">Foto BASTK</button>
            </div>
        </div>

        <div class="mt-4">
            <p>Keterangan Lainnya</p>
            <p class="font-semibold">{{sampleData?.notes}}</p>
        </div>
    </div>
</div>
