{{unitId}}<br/>
{{labelDoc}}<br/>
{{labelDesc}}
<div *ngIf="!imageUrl" class="border-0 border-dashed p-0 flex items-center justify-center h-full">
    <input type="file" (change)="onFileSelected($event)" accept="image/*" class="hidden" id="fileInput">
    <label for="fileInput" class="cursor-pointer" style="border:0px;">
      <img src="../../assets/icons/upl-button.svg" alt="Upload" class="w-12 h-12">
    </label>
</div>

<div class="div-container" *ngIf="imageUrl">
  <img [src]="imageUrl" alt="Uploaded Image" >
</div>
