.riwayat-filter{
    padding: 10px 0px 0px 10px;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #312E2E;
    text-align: left;
}

.filter-container {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    text-align: left;
    padding: 0 10px;
}

.filter-row {
    display: flex;
    gap: 6px;
    width: 100%;
    margin-bottom: 10px;
    
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
    }
}

.input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 14px;
    padding: 8px 16px;
    background-color: #f9f9f9;
    
    @media (max-width: 768px) {
        max-width: 100%;
    }
}
  
  .icon {
    margin-right: 8px;
    color: #888;
  }
  
  .input-field {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
    color: #333; /* Sesuaikan dengan desain Anda */
  }
  
  .input-field::placeholder {
    color: #888; /* Sesuaikan dengan desain Anda */
  }
  