<div class="product-container">
  <div class="label-product">{{sampleData?.display_name}}</div>
  <div class="anakan-label">{{sampleData?.unit_location}} &#x25CF; {{sampleData?.first_published_at | date:'dd MMMM yyyy'}}</div>

    <mat-accordion multi>
        <mat-expansion-panel [expanded]="true" id="Info Vendor" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Info Vendor</b>
            </mat-panel-title>
            <mat-panel-description>
              <!-- Informasi Vendor 1 -->
            </mat-panel-description>
          </mat-expansion-panel-header>
            <div class="row">
                <div class="column">
                    <label for="vendorName">Nama Vendor</label>
                    <input id="vendorName" type="text" placeholder="Nama Vendor" value="{{sampleDataVendor?.vendor_name}}" readonly/>
                    
                    <label for="vendorAddress">Alamat</label>
                    <textarea id="vendorAddress" placeholder="Alamat" rows="6" readonly>{{sampleDataVendor?.address}}, {{sampleDataVendor?.city}}, {{sampleDataVendor?.province}}</textarea>
                    
                   
                </div>
                <div class="column">
                    <label for="pic">PIC Pengirim</label>
                    <input id="pic" type="text" placeholder="PIC Pengirim" readonly/>
                    
                    <label for="deliveryDate">Tanggal Pengiriman</label>
                    <input id="deliveryDate" type="date" readonly value=""/>

                    <label for="vendorPhone">No. Telepon</label>
                    <input id="vendorPhone" type="text" placeholder="No Telp" readonly value="{{sampleDataVendor?.phone}}"/>
                </div>
            </div>
        </mat-expansion-panel>
      
        <mat-expansion-panel [expanded]="true" id="Info Kendaraan" >
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>Info Kendaraan</b>
                </mat-panel-title>
                <mat-panel-description>
                    <!-- Informasi Kendaraan -->
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
                <div class="column">
                    <label for="expedition">Ekspedisi</label>
                    <!-- {{sampleData?.ekspedisi}} -->
                    <select id="expedition" aria-readonly="true">
                        <option value="derek">Derek</option>
                        <option value="pengiriman">Pengiriman</option>
                    </select>

                    <label for="licensePlate">Nomor Polisi</label>
                    <input id="licensePlate" type="text" placeholder="Nomor Polisi" readonly value="{{sampleData?.police_number}}" />

                    <label for="brand">Merek</label>
                    <input type="text" id="brand" placeholder="Merek" readonly value="{{sampleData?.brand?.brand_name}}" />
                    <!-- {{sampleData?.brand?.brand_name}} -->
                    <!-- <select id="brand">
                        <option value="mitsubishi">Mitsubishi</option>
                        <option value="toyota">Toyota</option>
                    </select> -->

                    <label for="color">Tipe</label>
                    <input type="text" id="tipe" placeholder="Tipe" readonly value="{{sampleData?.variant_model?.model_name}}" />
                    <!-- <select id="color">
                        <option value="hitam">Power Ranger Merah</option>
                        <option value="hitam">Power Ranger Biru</option>
                        <option value="hitam">Power Ranger Hijau</option>
                        <option value="putih">Putih</option>
                    </select> -->

                    <label for="color">Tahun</label>
                    <input type="text" id="tahun" placeholder="Tahun" readonly value="{{sampleData?.unit_year}}" />
                    <!-- <select id="color">
                        <option value="hitam">2001</option>
                        <option value="hitam">2002</option>
                        <option value="hitam">2003</option>
                        <option value="putih">2004</option>
                    </select> -->
                </div>
                <div class="column">
                    <label for="category">Kategori</label>
                    <input type="text" id="category" placeholder="Kategori" readonly value="{{sampleData?.unit_type}}" />
                    <!-- <select id="category">
                        <option value="passenger">Passenger</option>
                        <option value="truck">Truck</option>
                    </select> -->

                    <label for="unit_location">Lokasi Unit</label>
                    <input type="text" id="unit_location" placeholder="Lokasi Unit" readonly value="{{sampleData?.unit_location}}" />

                    <label for="engineCapacity">Kapasitas Mesin (CC)</label>
                    <input type="text" id="engineCapacity" placeholder="Kapasitas Mesin" readonly value="{{sampleData?.unit_type}}" />

                    <label for="color">Warna</label>
                    <input type="text" id="warna" placeholder="Warna" readonly value="{{sampleData?.color?.color_name}}" />
<!-- 
                    <select id="color">
                        <option value="hitam">Hitam Metalik</option>
                        <option value="putih">Putih</option>
                    </select> -->

                    <label>Transmisi</label>
                    <input type="text" id="transmission" placeholder="Transmisi" readonly value="{{sampleData?.transmission}}" />
                    <!-- <div class="radio-group">
                        <label>
                            <input type="radio" name="transmission" value="automatic" checked />
                            Automatic
                        </label>
                        <label>
                            <input type="radio" name="transmission" value="manual" />
                            Manual
                        </label>
                    </div> -->
                </div>
            </div>
        </mat-expansion-panel>
        
        <mat-expansion-panel [expanded]="true" id="Dokumen dan Kelengkapan Lainnya" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Dokumen dan Kelengkapan Lainnya</b>
            </mat-panel-title>
            <mat-panel-description>
              <!-- Informasi Vendor 2 -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="column">Jenis Surat</div>
          </div>
          <div class="row">
            <div class="column">
                <div class="radio-group">
                    <label>
                        <input  type="radio" class="custom-radio" name="transmission" value="automatic" [checked]="sampleData?.transmission !== 'MT'" />
                        Automatic
                    </label>
                    <label>
                        <input type="radio" class="custom-radio" name="transmission" value="manual" [checked]="sampleData?.transmission === 'MT'" />
                        Manual
                    </label>
                </div>
            </div>
            <div class="column">
                <label for="tglpembuatan">Tanggal Pembuatan</label>
                <input type="date"  id="tglpembuatan" class="full-width" placeholder="Tanggal Pembuatan" [value]="sampleData?.first_published_at | date:'yyyy-MM-dd HH:mm:ss'" />
            </div>
            <div class="column">
                <label for="suratkuasa">No Surat Kuasa</label>
                <input  type="date" id="suratkuasa" class="full-width" placeholder="No Surat Kuasa" [value]="sampleData?.last_published_at | date:'yyyy-MM-dd HH:mm:ss'" />
            </div>
            <div class="column"></div>
          </div>

          <div class="row">
            <div class="column">
              <!-- [disabled]="!sampleData?.fotoBpkb" -->
              <button 
                [ngClass]="{'button-upl-view': sampleData?.fotoBpkb, 'button-upl-now': !sampleData?.fotoBpkb}" (click)="openGallery()"
                >
                {{sampleData?.fotoBpkb ? 'Lihat Foto BPKB' : 'Upload Foto BPKB'}}
                <span 
                  style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                  <mat-icon>{{sampleData?.fotoBpkb ? 'visibility' : 'upload'}}</mat-icon>
                </span>
              </button>
            </div>
            <div class="column">
              <!-- [disabled]="!sampleData?.fotoStnk" -->
                <button 
                [ngClass]="{'button-upl-view': sampleData?.fotoStnk, 'button-upl-now': !sampleData?.fotoStnk}" (click)="openGallery()"
                >
                {{sampleData?.fotoStnk ? 'Lihat Foto STNK' : 'Upload Foto STNK'}}
                <span 
                  style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                  <mat-icon>{{sampleData?.fotoStnk ? 'visibility' : 'upload'}}</mat-icon>
                </span>
              </button>
            </div>
            <div class="column">
              <!-- [disabled]="!sampleData?.fotoSuratKuasa"  -->
                <button 
                [ngClass]="{'button-upl-view': sampleData?.fotoSuratKuasa, 'button-upl-now': !sampleData?.fotoSuratKuasa}" (click)="openGallery()"
                >
                {{sampleData?.fotoSuratKuasa ? 'Lihat Foto Surat Kuasa' : 'Upload Foto Surat Kuasa'}}
                <span 
                  style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                  <mat-icon>{{sampleData?.fotoSuratKuasa ? 'visibility' : 'upload'}}</mat-icon>
                </span>
              </button>
            </div>
            <div class="column">
              <!-- [disabled]="!sampleData?.fotoBastk" -->
                <button 
                [ngClass]="{'button-upl-view': sampleData?.fotoBastk, 'button-upl-now': !sampleData?.fotoBastk}" (click)="openGallery()"
                >
                {{sampleData?.fotoBastk ? 'Lihat Foto BASTK Vendor' : 'Upload Foto BASTK Vendor'}}
                <span 
                  style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
                  <mat-icon>{{sampleData?.fotoBastk ? 'visibility' : 'upload'}}</mat-icon>
                </span>
              </button>
            </div>
          </div>

          <div class="row">
                <div class="column">Status BPKB</div>
           </div>
          <div class="row">
                <div class="column">
                    <div class="radio-group">
                      <label style="display: flex; align-items: center; gap: 15px; font-size: 14px; margin-left:10px;">
                            <input type="radio"  class="custom-radio"  name="bpkb" value="automatic" [checked]="sampleData?.transmission !== 'MT'" />
                            Tribik
                        </label>
                        <label style="display: flex; align-items: center; gap: 15px; font-size: 14px; margin-left:10px;">
                            <input type="radio"  class="custom-radio"  name="bpkb" value="manual" [checked]="sampleData?.transmission === 'MT'" />
                            Vendor
                        </label>
                    </div>
                </div>
            </div>



          
        </mat-expansion-panel>
    
        <mat-expansion-panel [expanded]="true" id="Keterangan Lainnya" >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <b>Keterangan Lainnya</b>
            </mat-panel-title>
            <mat-panel-description>
              <!-- Informasi Vendor 2 -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><textarea cols="120" rows="10"></textarea></p>
        </mat-expansion-panel>
    
    
    
    </mat-accordion>


</div>


<!-- <app-image-gallery-modal
  [carName]="'Mitsubishi Pajero'"
  [images]="[
    'assets/bpkb1.jpg',
    'assets/bpkb2.jpg',
    'assets/bpkb3.jpg',
    'assets/bpkb4.jpg'
  ]">
</app-image-gallery-modal> -->