<div class="product-container">
    <div class="label-product">{{sampleDataInfo?.display_name}}</div>
    <div class="anakan-label">{{sampleDataInfo?.brand?.brand_name}} &#x25CF; {{sampleDataInfo?.variant_model?.model_name}}</div>

    <mat-accordion multi>
        <form #exteriorForm="ngForm">
            <div *ngFor="let subCategory of objectKeys(groupedSubItems['Exterior'])" style="padding-left:10px;margin-bottom:30px;">
                <mat-expansion-panel [expanded]="true"  id="{{subCategory}}" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span style="border:solid red 0px;font-weight:bold;">{{ subCategory }}</span>
                        </mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>

                    <div *ngFor="let item of groupedSubItems['Exterior'][subCategory]">
                        <div>
                            <div *ngIf="item.questions && item.questions.length > 0">
                                <label style="font-weight: bold;text-transform: capitalize;width:50%;border:solid rgb(255, 251, 0) 0px;padding-left:15px;">{{ item.item_description }}</label>
                                <div class="flex" style="gap: 25%">
                                    <label style="display: flex; align-items: center; gap: 15px; font-size: 14px; margin-left:10px;">
                                      <input type="radio"
                                             class="custom-radio"
                                             name="{{item.id}}_kondisi"
                                             [value]="'Ada'"
                                             [(ngModel)]="item.kondisi"
                                             (ngModelChange)="onSubmit(exteriorForm)" 
                                             (click)="focusSelect(item.id, 0)"/>
                                      Ada
                                    </label>

                                    <label style="display: flex; align-items: center; gap: 15px; font-size: 14px; margin-left:10px;">
                                      <input type="radio"
                                             class="custom-radio"
                                             name="{{item.id}}_kondisi"
                                             [value]="'Tidak'"
                                             [(ngModel)]="item.kondisi"
                                             (ngModelChange)="onSubmit(exteriorForm)" 
                                             (click)="focusSelect(item.id, 0)"/>
                                      Tidak
                                    </label>

                                  
                                </div>
                                <ng-container *ngFor="let question of item.questions; let i = index">
                                    <div *ngIf="question.name !== null" style="position:relative; float:left; width: 50%; " >
                                        <div>
                                            <div>
                                                    <span style="padding-left:15px;" >
                                                        <select
                                                            [id]="'selectEl_' + item.id + '_' + i"
                                                            class="mt-2 w-full p-2 border rounded"
                                                            [name]="item.id + '_' + question.key"
                                                            (ngModelChange)="onSubmit(exteriorForm)"
                                                            [(ngModel)]="question.answer"
                                                            style="text-transform: capitalize; font-size:14px; color: #0f0d0d;"
                                                            [ngStyle]="{ color: !question.answer || question.answer.trim() === '' ? '#b4b4b4' : '#0f0d0d' }"
                                                            [class.beling]="!question.answer || question.answer.length === 0 || question.answer === null"

                                                            >
                                                            <option [ngValue]="null" disabled  style="color:#b4b4b4;">-- {{question.name}} --</option>
                                                            <option style="color:#141414;" *ngFor="let option of question.options" [ngValue]="option">{{ option }}</option>
                                                        </select>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
        </form>
    </mat-accordion>
</div>


<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-spinner"></div>
  <div class="loading-text">Data sedang dimuat...</div>
</div>