<div class="header-bottom">

  
    <div class="row-container">
        <div class="chip-container">  
            <div class="chip" [class.active]="activeChipIndex === 0" (click)="setActiveChip(0)">Data Excel</div>  
            <div class="chip" [class.active]="activeChipIndex === 1" (click)="setActiveChip(1)">Info Vendor</div>  
            <div class="chip" [class.active]="activeChipIndex === 2" (click)="setActiveChip(2)">Info Kendaraan</div>  
            <div class="chip" [class.active]="activeChipIndex === 3" (click)="setActiveChip(3)">Dokumen dan Kelengkapan Lainnya</div>  
            <!-- <div class="chip" [class.active]="activeChipIndex === 4" (click)="setActiveChip(4)">Keterangan Lainnya</div>   -->
            <div class="custom-slider" [ngStyle]="{'transform': 'translateX(' + (activeChipIndex * 60) + 'px)'}"></div> <!-- Garis kustom -->  
          </div>
          
          
          <div class="filter-container">  
           
          </div>
    </div>
  
  
  </div> 